

title= pkg.name
meta(charset="utf-8")
meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
meta(http-equiv="X-UA-Compatible", content="IE=edge")
meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no")
meta(name="description", value= pkg.description)
meta(name="keywords", value= pkg.keywords)

//- lt styles
link(href= makeVersion("./assets/css/font-awesome.min.css"), rel="stylesheet", media="screen")
link(href= makeVersion("./assets/css/ngAdmin-" + pkg.version + ".min.css"), rel="stylesheet", media="screen")
link(href= makeVersion("./assets/css/ngAdmin-" + pkg.version + ".docs.min.css"), rel="stylesheet", media="screen")

//- lt scripts
script(src= makeVersion("./scripts/pace-0.5.1.min.js"), sync)
script(src= makeVersion("./scripts/angular-1.2.23.min.js"))
script(src= makeVersion("./scripts/angular-route-1.2.23.min.js"))
script(src= makeVersion("./scripts/angular-touch-1.2.23.min.js"))
script(src= makeVersion("./scripts/ui-bootstrap-tpls-0.11.0.min.js"))
script(src= makeVersion("./scripts/highcharts-3.0.10.min.js"))
script(src= makeVersion("./scripts/highcharts-ng-0.0.8.min.js"))
script(src= makeVersion("./scripts/ngAdmin-" + pkg.version + ".tpls.js"))
script(src= makeVersion("./scripts/ngAdmin-" + pkg.version + ".docs.js"))

//- lt icons
link(href="./assets/ico/apple-touch-icon-144-precomposed.png", rel="apple-touch-icon-precomposed")
link(href="./assets/ico/favicon.ico", rel="shortcut icon")