

#navigation-container(ng-controller="Navigation")
  .brand-sidebar
    a(href="./", target="_self") ngAdmin

  ul.nav.nav-stacked
    li.search-sidebar
      input(ng-model="filter", name="filter", type="search", placeholder="Search something...")
      a
        i.fa.fa-search

    li.profile-sidebar.online
      .face.dropdown-submenu.pull-left.open
        a.avator
          img(src="./assets/ico/apple-touch-icon-144-precomposed.png")

      .info.dropdown-submenu
        a.name David Jones
        span.role Administrator
        a.status

  .scroll-viewport
    ng-scroll(fixed-left)
      ul.nav.nav-stacked(slide-menu-group)
        li(ng-repeat="nav in navigations", ng-hide="nav.hidden", ng-class='{ "dropdown-submenu": nav.child }', ng-attr-slide-menu="nav.child", open="{{ nav.key == current[0] }}")
          a(ng-if="!nav.child", ng-href="{{ nav.url || ('#/index/' + nav.key) }}/")
            i(class="fa fa-{{ nav.icon }}")
            span {{ nav.name }}

          a(ng-if="nav.child", slide-menu-toggle)
            i(class="fa fa-{{ nav.icon }}")
            span {{ nav.name }}

          ul.dropdown-menu-navigation.dropdown-menu(ng-if="nav.child", slide-menu-list)
            li(ng-repeat="menu in nav.child", ng-hide="menu.hidden", ng-class='{ active: menu.key == current[1] }')
              a(ng-href="{{ menu.url || ('#/index/' + menu.key + '/') }}", target="{{ menu.target }}")
                | {{ menu.name }}