header#header-container(ng-controller='HeaderController')
  .row
    .navbar
      ul.notify-header.pull-left
        li.bars
          a.menu-toggle(ng-click='toggleLeftSidebar()')
            i.fa.fa-navicon

        li.hidden-sm
          a(ng-click='screenfull()', title='{{ isFullscreen ? "Exit" : "Full Screen" }}')
            i.fa(ng-class='{ "fa-compress": isFullscreen, "fa-expand": !isFullscreen }')

      ul.notify-header.pull-right
        li
          a(ng-click='toggleRightSidebar()')
            i.fa.fa-comments-o

      ul.notify-header.pull-right
        li.hidden-xs.dropdown-submenu(dropdown-menu)
          a(dropdown-menu-toggle)
            i.fa.fa-tasks
            span.badge.badge-info 5

          .dropdown-menu-tasks.dropdown-menu.dropdown-menu-modal.dropdown-menu-cyan.pull-right
            .dropdown-menu-arrow

            h5.caption
              .dropdown-menu-caption-arrow
              .dropdown-menu-caption-widgets
                a(title='refresh')
                  i.fa.fa-refresh
              | You have 5 pending tasks

            .viewport-scroll(ng-iscroll)
              ul.dropdown-list
                li
                  a.task
                    .task-info
                      .percent 80%
                      .desc Layout

                    .progress.progress-striped.active
                      .progress-bar.progress-bar-green(style='width:80%')
                        .sr-only 80% Complete
                li
                  a.task
                    .task-info
                      .percent 40%
                      .desc UI Element

                    .progress.progress-striped.active
                      .progress-bar.progress-bar-cyan(style='width:40%')
                        .sr-only 40% Complete
                li
                  a.task
                    .task-info
                      .percent 10%
                      .desc Forms

                    .progress.progress-striped.active
                      .progress-bar.progress-bar-orange(style='width:10%')
                        .sr-only 10% Complete
                li
                  a.task
                    .task-info
                      .percent 70%
                      .desc Table

                    .progress.progress-striped.active
                      .progress-bar.progress-bar-red(style='width:70%')
                        .sr-only 70% Complete
                li
                  a.task
                    .task-info
                      .percent 35%
                      .desc Charts

                    .progress.progress-striped.active
                      .progress-bar.progress-bar-amethyst(style='width:35%')
                        .sr-only 35% Complete

            a.dropdown-more(href, title) Check all tasks...

        li.hidden-xs.dropdown-submenu(dropdown-menu)
          a(dropdown-menu-toggle)
            i.fa.fa-envelope-o
            span.badge.badge-warning 4

          .dropdown-menu-message.dropdown-menu.dropdown-menu-modal.dropdown-menu-orange.pull-right
            .dropdown-menu-arrow

            h5.caption
              .dropdown-menu-caption-arrow
              .dropdown-menu-caption-widgets
                a(title='refresh')
                  i.fa.fa-refresh
              | You have 4 new messages

            .viewport-scroll(ng-iscroll)
              ul.dropdown-list
                li
                  .item.message
                    a.thumb
                      img(src='//q.qlogo.cn/qqapp/100229475/70F82D66FE3FD280B8BC8D789E5CE979/100')

                    a.desc
                      span.line
                        strong Draniem Daamul
                        | &nbsp;- just now
                        span.badge.badge-green New
                      span.line This ain’t our first item, it is the best of the rest. 
                li
                  .item.message
                    a.thumb
                      img(src='//q.qlogo.cn/qqapp/100229475/70F82D66FE3FD280B8BC8D789E5CE979/100')

                    a.desc
                      span.line
                        strong Draniem Daamul
                        | &nbsp;- 4 mins ago
                        span.badge.badge-green New
                      span.line Oh he decisively impression attachment friendship so if everything. 
                li
                  .item.message
                    a.thumb
                      img(src='//q.qlogo.cn/qqapp/100229475/70F82D66FE3FD280B8BC8D789E5CE979/100')

                    a.desc
                      span.line
                        strong Draniem Daamul
                        | &nbsp;- 4 hours ago
                        span.badge.badge-green New
                      span.line Whose her enjoy chief new young. Felicity if ye required likewise so doubtful. 
                li
                  .item.message
                    a.thumb
                      img(src='//q.qlogo.cn/qqapp/100229475/70F82D66FE3FD280B8BC8D789E5CE979/100')

                    a.desc
                      span.line
                        strong Draniem Daamul
                        | &nbsp;- 12 hours ago
                        span.badge.badge-green New
                      span.line On so attention necessary at by provision otherwise existence direction. 

            a.dropdown-more(href, title) All message...

        li.hidden-xs.dropdown-submenu(dropdown-menu)
          a(dropdown-menu-toggle)
            i.fa.fa-bell-o
            span.badge.badge-danger 12

          .dropdown-menu-notify.dropdown-menu.dropdown-menu-modal.dropdown-menu-red.pull-right
            .dropdown-menu-arrow

            h5.caption
              .dropdown-menu-caption-arrow
              .dropdown-menu-caption-widgets
                a(title='refresh')
                  i.fa.fa-refresh
              | You have 12 new notifications

            .viewport-scroll(ng-iscroll)
              ul.dropdown-list
                li
                  a.message
                    span.label.label-info
                      i.fa.fa-user
                    | New user registered.
                    span.small 3 mins ago

                li
                  a.message
                    span.label.label-warning
                      i.fa.fa-plus
                    | New order.
                    span.small 20 mins ago

                li
                  a.message
                    span.label.label-success
                      i.fa.fa-flash
                    | Server restared.
                    span.small 18 mins ago

                li
                  a.message
                    span.label.label-danger
                      i.fa.fa-power-off
                    | Server down.
                    span.small 27 mins ago

                li
                  a.message
                    span.label.label-danger
                      i.fa.fa-times
                    | Application error.
                    span.small 31 mins ago

            a.dropdown-more(href, title) Check all notify...

        li.visible-xs
          a
            i.fa.fa-ellipsis-h

        li.dropdown-submenu.profile(dropdown-menu)
          a.avator(dropdown-menu-toggle)
            img(src='//q.qlogo.cn/qqapp/100229475/70F82D66FE3FD280B8BC8D789E5CE979/100')
          span.name David Jones

          ul.dropdown-menu-profile.dropdown-menu.pull-right
            .dropdown-menu-arrow
            li
              a
                i.fa.fa-user
                | My Profile
            li
              a
                i.fa.fa-cog
                | Account Settings
            li
              a
                i.fa.fa-question
                | Help
            li
              a(ng-click='logout()')
                i.fa.fa-power-off
                | Log Out
