

.chat-conversation
  .conversation-header
    a.conversation-close
      i.fa.fa-times
  .conversation-body
    ul.conversation-messages
      li
    
  .conversation-footer
    textarea.form-control(placeholder="Type your message")
