

main#alert-container.content-layout
	h2 Alerts
	.tile.tile-white
		.tile-header
			h3 Alerts Type
			.tile-widgets
				a.refresh
					i.fa.fa-refresh
				span.divider
				a.remove
					i.fa.fa-times

		.tile-body.example
			.row
				.col-md-6
					.alert.alert-green
						strong Green Style!
						| Choose from green, cyan, orange, red, amethyst or gray.

				.col-md-6
					.alert.alert-cyan
						strong Cyan Style!
						| Choose from green, cyan, orange, red, amethyst or gray.
			
			.row
				.col-md-6
					.alert.alert-orange
						strong Orange Style!
						| Choose from green, cyan, orange, red, amethyst or gray.

				.col-md-6
					.alert.alert-red
						strong Red Style!
						| Choose from green, cyan, orange, red, amethyst or gray.

			.row
				.col-md-6
					.alert.alert-amethyst
						strong Amethyst Style!
						| Choose from green, cyan, orange, red, amethyst or gray.

				.col-md-6
					.alert.alert-gray
						strong Gray Style!
						| Choose from green, cyan, orange, red, amethyst or gray.
