

main#alert-container.content-layout
	h2 Alerts
	br

	.row
		.col-md-6
			.alert.alert-green
				strong Green Style!
				| Choose from green, cyan, orange, red or others.

		.col-md-6
			.alert.alert-cyan
				strong Cyan Style!
				| Choose from green, cyan, orange, red or others.
	
	.row
		.col-md-6
			.alert.alert-orange
				strong Orange Style!
				| Choose from green, cyan, orange, red or others.

		.col-md-6
			.alert.alert-red
				strong Red Style!
				| Choose from green, cyan, orange, red or others.

	.row
		.col-md-6
			.alert.alert-amethyst
				strong Amethyst Style!
				| Choose from green, cyan, orange, red or others.

		.col-md-6
			.alert.alert-gray
				strong Gray Style!
				| Choose from green, cyan, orange, red or others.
