

main#badge-container.content-layout
	h2 Badges &amp; Labels
	.tile.tile-white
		.tile-header
			h3 Badges
			.tile-widgets
				a.refresh
					i.fa.fa-refresh
				span.divider
				a.remove
					i.fa.fa-times

		.tile-body
			table.table.table-bordered
				thead
					tr
						th(width='50%') Badges
						th RoundlessBadges
				tbody
					tr
						td.padding-lg
							p
								a(href='#')
									| Plain&nbsp;
									span.badge 1
							p
								a(href='#')
									| Green&nbsp;
									span.badge.badge-green 2
							p
								a(href='#')
									| Cyan&nbsp;
									span.badge.badge-cyan 3
							p
								a(href='#')
									| Orange&nbsp;
									span.badge.badge-orange 4
							p
								a(href='#')
									| Red&nbsp;
									span.badge.badge-red 5
							p
								a(href='#')
									| Amethyst&nbsp;
									span.badge.badge-amethyst 6
							p
								a(href='#')
									| Gray&nbsp;
									span.badge.badge-gray 7
						td.padding-lg
							p
								a(href='#')
									| Plain&nbsp;
									span.badge.badge-roundless 1
							p
								a(href='#')
									| Green&nbsp;
									span.badge.badge-green.badge-roundless 2
							p
								a(href='#')
									| Cyan&nbsp;
									span.badge.badge-cyan.badge-roundless 3
							p
								a(href='#')
									| Orange&nbsp;
									span.badge.badge-orange.badge-roundless 4
							p
								a(href='#')
									| Red&nbsp;
									span.badge.badge-red.badge-roundless 5
							p
								a(href='#')
									| Amethyst&nbsp;
									span.badge.badge-amethyst.badge-roundless 6
							p
								a(href='#')
									| Gray&nbsp;
									span.badge.badge-gray.badge-roundless 7

	.tile.tile-white
		.tile-header
			h3 Labels
			.tile-widgets
				a.refresh
					i.fa.fa-refresh
				span.divider
				a.remove
					i.fa.fa-times
						
		.tile-body
			table.table.table-bordered
				thead
					tr
						th Labels
				tbody
					tr
						td.padding-lg
							.label.label-default Default
							| &nbsp;
							.label.label-green Primary
							| &nbsp;
							.label.label-cyan Secondary
							| &nbsp;
							.label.label-orange Success
							| &nbsp;
							.label.label-red Info
							| &nbsp;
							.label.label-amethyst Warning
							| &nbsp;
							.label.label-gray Danger
