

main#blockquotes-container.content-layout
	h2 Blockquotes
	.tile.tile-white
		.tile-header
			h3 Simple Blockquotes
			.tile-widgets
				a.refresh
					i.fa.fa-refresh
				span.divider
				a.remove
					i.fa.fa-times

		.tile-body.example
			.col-md-12
				p
					strong Simple Blockquote (Native)
				blockquote
					p
						strong Blockquote
						br
						| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
				hr
				p
					strong Cited
				blockquote
					p
						| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
					small
						| Someone famous in
						cite(title='Source Title') Source Title
				hr
				p
					strong Pulled right
				blockquote.pull-right
					p
						| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
					small
						| Someone famous in
						cite(title='Source Title') Source Title

	.tile.tile-white
		.tile-header
			h3 Other Blockquotes Types
			.tile-widgets
				a.refresh
					i.fa.fa-refresh
				span.divider
				a.remove
					i.fa.fa-times

		.tile-body.example
			blockquote.blockquote-green
				p
					strong Blockquote Green
				p
					small
						| Inquietude simplicity terminated she compliment remarkably few her nay. The weeks are ham asked jokes. Neglected perceived shy nay concluded. Not mile draw plan snug next all. Houses latter an valley be indeed wished merely in my. Money doubt oh drawn every or an china. Visited out friends for expense message set eat.

			blockquote.blockquote-cyan
				p
					strong Blockquote Cyan
				p
					small
						| Inquietude simplicity terminated she compliment remarkably few her nay. The weeks are ham asked jokes. Neglected perceived shy nay concluded. Not mile draw plan snug next all. Houses latter an valley be indeed wished merely in my. Money doubt oh drawn every or an china. Visited out friends for expense message set eat.

			blockquote.blockquote-orange
				p
					strong Blockquote Orange
				p
					small
						| Inquietude simplicity terminated she compliment remarkably few her nay. The weeks are ham asked jokes. Neglected perceived shy nay concluded. Not mile draw plan snug next all. Houses latter an valley be indeed wished merely in my. Money doubt oh drawn every or an china. Visited out friends for expense message set eat.

			blockquote.blockquote-red
				p
					strong Blockquote Red
				p
					small
						| Inquietude simplicity terminated she compliment remarkably few her nay. The weeks are ham asked jokes. Neglected perceived shy nay concluded. Not mile draw plan snug next all. Houses latter an valley be indeed wished merely in my. Money doubt oh drawn every or an china. Visited out friends for expense message set eat.

			blockquote.blockquote-amethyst
				p
					strong Blockquote Amethyst
				p
					small
						| Inquietude simplicity terminated she compliment remarkably few her nay. The weeks are ham asked jokes. Neglected perceived shy nay concluded. Not mile draw plan snug next all. Houses latter an valley be indeed wished merely in my. Money doubt oh drawn every or an china. Visited out friends for expense message set eat.

			blockquote.blockquote-gray
				p
					strong Blockquote Gray
				p
					small
						| Inquietude simplicity terminated she compliment remarkably few her nay. The weeks are ham asked jokes. Neglected perceived shy nay concluded. Not mile draw plan snug next all. Houses latter an valley be indeed wished merely in my. Money doubt oh drawn every or an china. Visited out friends for expense message set eat.
