

main#breadcrumbs-container.content-layout
	h3 Breadcrumbs
	br

	.panel
		.panel-heading
			.panel-title
				h5 Breadcrumb Types
			.panel-widgets
				a
					i.fa.fa-chevron-down

		.panel-collapse.in
			.panel-body
				ol.breadcrumb.breadcrumb-pure
					li
						a(href='#')
							i.fa.fa-folder
							| Pure Breadcrumb
					li
						a(href='#') Appearance
					li
						a(href='#') Plugins
					li.active Widgets

				ol.breadcrumb
					li
						a(href='#')
							i.fa.fa-folder
							| Default Breadcrumb
					li
						a(href='#') Appearance
					li
						a(href='#') Plugins
					li.active Widgets

				ol.breadcrumb.breadcrumb-border
					li
						a(href='#')
							i.fa.fa-folder
							| Border Breadcrumb
					li
						a(href='#') Appearance
					li
						a(href='#') Plugins
					li.active Widgets
