

main#buttons-container.content-layout
	h2 Buttons
	.row
		.col-md-12
			.tile.tile-white
				.tile-header
					h3 General Buttons
					.tile-widgets
						a.refresh
							i.fa.fa-refresh
						span.divider
						a.remove
							i.fa.fa-times

				.tile-body
					h4 Admin Buttons
					button.btn.btn-default(type="button", role="button") Default
					&nbsp;
					button.btn.btn-green(type="button", role="button") Green
					&nbsp;
					button.btn.btn-cyan(type="button", role="button") Cyan
					&nbsp;
					button.btn.btn-orange(type="button", role="button") Orange
					&nbsp;
					button.btn.btn-red(type="button", role="button") Red
					&nbsp;
					button.btn.btn-amethyst(type="button", role="button") Amethyst
					&nbsp;
					button.btn.btn-white(type="button", role="button") White
					&nbsp;
					hr

					h4 Admin Buttons (Disabled)
					button.btn.btn-default(type="button", role="button", disabled) Default
					&nbsp;
					button.btn.btn-green(type="button", role="button", disabled) Green
					&nbsp;
					button.btn.btn-cyan(type="button", role="button", disabled) Cyan
					&nbsp;
					button.btn.btn-orange(type="button", role="button", disabled) Orange
					&nbsp;
					button.btn.btn-red(type="button", role="button", disabled) Red
					&nbsp;
					button.btn.btn-amethyst(type="button", role="button", disabled) Amethyst
					&nbsp;
					button.btn.btn-white(type="button", role="button", disabled) White
					&nbsp;
					hr

					h4 Admin Buttons (Pure)
					button.btn.btn-default.btn-pure(type="button", role="button") Default
					&nbsp;
					button.btn.btn-green.btn-pure(type="button", role="button") Green
					&nbsp;
					button.btn.btn-cyan.btn-pure(type="button", role="button") Cyan
					&nbsp;
					button.btn.btn-orange.btn-pure(type="button", role="button") Orange
					&nbsp;
					button.btn.btn-red.btn-pure(type="button", role="button") Red
					&nbsp;
					button.btn.btn-amethyst.btn-pure(type="button", role="button") Amethyst
					&nbsp;
					button.btn.btn-white.btn-pure(type="button", role="button") White
					&nbsp;
					hr

					h4 Admin Buttons (Squared)
					button.btn.btn-default.btn-square(type="button", role="button") Default
					&nbsp;
					button.btn.btn-green.btn-square(type="button", role="button") Green
					&nbsp;
					button.btn.btn-cyan.btn-square(type="button", role="button") Cyan
					&nbsp;
					button.btn.btn-orange.btn-square(type="button", role="button") Orange
					&nbsp;
					button.btn.btn-red.btn-square(type="button", role="button") Red
					&nbsp;
					button.btn.btn-amethyst.btn-square(type="button", role="button") Amethyst
					&nbsp;
					button.btn.btn-white.btn-square(type="button", role="button") White
					&nbsp;
					hr

					h4 Admin Buttons (Mini)
					button.btn.btn-default.btn-pure.btn-mini(type="button", role="button") Default
					&nbsp;
					button.btn.btn-green.btn-pure.btn-mini(type="button", role="button") Green
					&nbsp;
					button.btn.btn-cyan.btn-pure.btn-mini(type="button", role="button") Cyan
					&nbsp;
					button.btn.btn-orange.btn-pure.btn-mini(type="button", role="button") Orange
					&nbsp;
					button.btn.btn-red.btn-pure.btn-mini(type="button", role="button") Red
					&nbsp;
					button.btn.btn-amethyst.btn-pure.btn-mini(type="button", role="button") Amethyst
					&nbsp;
					button.btn.btn-white.btn-pure.btn-mini(type="button", role="button") White
					&nbsp;
					hr

					h4 Bootstrap Buttons
					button.btn.btn-primary(type="button", role="button") Primary
					&nbsp;
					button.btn.btn-success(type="button", role="button") Success
					&nbsp;
					button.btn.btn-info(type="button", role="button") Info
					&nbsp;
					button.btn.btn-warning(type="button", role="button") Warning
					&nbsp;
					button.btn.btn-danger(type="button", role="button") Danger
					&nbsp;
					button.btn.btn-link(type="button", role="button") Link
					&nbsp;
					hr

					h4 Bootstrap Buttons (Disabled)
					button.btn.btn-primary(type="button", role="button", disabled) Primary
					&nbsp;
					button.btn.btn-success(type="button", role="button", disabled) Success
					&nbsp;
					button.btn.btn-info(type="button", role="button", disabled) Info
					&nbsp;
					button.btn.btn-warning(type="button", role="button", disabled) Warning
					&nbsp;
					button.btn.btn-danger(type="button", role="button", disabled) Danger
					&nbsp;
					button.btn.btn-link(type="button", role="button", disabled) Link
					&nbsp;
					hr

					h4 Button Sizes
					p
						button.btn.btn-primary.btn-lg(type="button", role="button") Large Button
						&nbsp;
						button.btn.btn-primary.btn-lg(type="button", role="button", disabled) Large Button

					p
						button.btn.btn-primary.btn-md(type="button", role="button") Default Button
						&nbsp;
						button.btn.btn-primary.btn-md(type="button", role="button", disabled) Default Button

					p
						button.btn.btn-primary.btn-sm(type="button", role="button") Small Button
						&nbsp;
						button.btn.btn-primary.btn-sm(type="button", role="button", disabled) Default Button

					p
						button.btn.btn-primary.btn-xs(type="button", role="button") Extra small button
						&nbsp;
						button.btn.btn-primary.btn-xs(type="button", role="button", disabled) Extra small button

					h4 Block Buttons
					button.btn.btn-default.btn-block(type="button", role="button") Block Buttons
					button.btn.btn-cyan.btn-block(type="button", role="button") Block Buttons
					button.btn.btn-red.btn-block(type="button", role="button") Block Buttons

			.tile.tile-white
				.tile-header
					h2 Button Groups
					.tile-widgets
						a.refresh
							i.fa.fa-refresh
						span.divider
						a.remove
							i.fa.fa-times

				.tile-body
					h4 Basic Example
					.btn-group
						button.btn.btn-green(type="button", role="button") Left
						button.btn.btn-green(type="button", role="button") Middle
						button.btn.btn-green(type="button", role="button") Right
					| &nbsp;

					.btn-group
						button.btn.btn-default(type="button", role="button") Left
						button.btn.btn-default(type="button", role="button") Middle
						button.btn.btn-default(type="button", role="button") Right
					| &nbsp;

					h4 Button Toolbar
					.btn-group
						button.btn.btn-green(type="button") 1
						button.btn.btn-green(type="button") 2
						button.btn.btn-green(type="button") 3
						button.btn.btn-green(type="button") 4
					| &nbsp;

					.btn-group
						button.btn.btn-green(type="button") 5
						button.btn.btn-green(type="button") 6
						button.btn.btn-green(type="button") 7
					| &nbsp;

					.btn-group
						button.btn.btn-green(type="button") 8
					| &nbsp;

					.btn-group
						button.btn.btn-default(type="button") 1
						button.btn.btn-default(type="button") 2
						button.btn.btn-default(type="button") 3
						button.btn.btn-default(type="button") 4
					| &nbsp;

					.btn-group
						button.btn.btn-default(type="button") 5
						button.btn.btn-default(type="button") 6
						button.btn.btn-default(type="button") 7
					| &nbsp;

					.btn-group
						button.btn.btn-default(type="button") 8

					h4 Sizing
					.btn-group.btn-group-lg
						button.btn.btn-green(type="button", role="button") Left
						button.btn.btn-green(type="button", role="button") Middle
						button.btn.btn-green(type="button", role="button") Right
					| &nbsp;

					.btn-group.btn-group
						button.btn.btn-orange(type="button", role="button") Left
						button.btn.btn-orange(type="button", role="button") Middle
						button.btn.btn-orange(type="button", role="button") Right
					| &nbsp;

					.btn-group.btn-group-sm
						button.btn.btn-red(type="button", role="button") Left
						button.btn.btn-red(type="button", role="button") Middle
						button.btn.btn-red(type="button", role="button") Right
					| &nbsp;

					.btn-group.btn-group-xs
						button.btn.btn-amethyst(type="button", role="button") Left
						button.btn.btn-amethyst(type="button", role="button") Middle
						button.btn.btn-amethyst(type="button", role="button") Right


					h4 Nesting
					.btn-group
						button.btn.btn-green(type="button", role="button") 1
						button.btn.btn-green(type="button", role="button") 2
					| &nbsp;

					.btn-group(dropdown-menu)
						button.btn.btn-green(dropdown-menu-toggle)
							| Dropdown&nbsp;
							span.caret

						ul.dropdown-menu(role="menu")
							li
								a Dropdown link
							li
								a Dropdown link


					h4 Vertical Variation
					.btn-group-vertical
						button.btn.btn-default(type="button", role="button") Button
						button.btn.btn-default(type="button", role="button") Button
						
						.btn-group(dropdown-menu)
							button.btn.btn-default(dropdown-menu-toggle)
								| Dropdown&nbsp;
								span.caret

							ul.dropdown-menu(role="menu")
								li
									a Dropdown link
								li
									a Dropdown link

						button.btn.btn-default(type="button", role="button") Button
						button.btn.btn-default(type="button", role="button") Button
						
						.btn-group(dropdown-menu)
							button.btn.btn-default(dropdown-menu-toggle)
								| Dropdown&nbsp;
								span.caret

							ul.dropdown-menu(role="menu")
								li
									a Dropdown link
								li
									a Dropdown link

						.btn-group(dropdown-menu)
							button.btn.btn-default(dropdown-menu-toggle)
								| Dropdown&nbsp;
								span.caret

							ul.dropdown-menu(role="menu")
								li
									a Dropdown link
								li
									a Dropdown link

					h4 Justified Link Variation
					.btn-group.btn-group-justified
						a.btn.btn-green(role="button") Left
						a.btn.btn-cyan(role="button") Middle
						a.btn.btn-orange(role="button") Right

					br
					.btn-group.btn-group-justified
						a.btn.btn-default(role="button") Left
						a.btn.btn-red(role="button") Middle
						a.btn.btn-amethyst(role="button") Right