

main#colors-container.content-layout.no-padding
	.row
		.flat-green.demo-color-block.col-xs-3
		.flat-cyan.demo-color-block.col-xs-3
		.flat-orange.demo-color-block.col-xs-3
		.flat-red.demo-color-block.col-xs-3

	.row
		.dazzle-green.demo-color-block.col-xs-3
		.dazzle-cyan.demo-color-block.col-xs-3
		.dazzle-orange.demo-color-block.col-xs-3
		.dazzle-red.demo-color-block.col-xs-3
	
	.row
		.flat-amethyst.demo-color-block.col-xs-3
		.flat-pink.demo-color-block.col-xs-3
		.flat-gray.demo-color-block.col-xs-3
		.flat-brown.demo-color-block.col-xs-3

	.row
		.dazzle-amethyst.demo-color-block.col-xs-3
		.dazzle-pink.demo-color-block.col-xs-3
		.dazzle-gray.demo-color-block.col-xs-3
		.dazzle-brown.demo-color-block.col-xs-3