

main#widgets-container.content-layout
	h2 Basic panels
	.row
		.col-md-6
			.panel.panel-default
				.panel-heading
					.panel-title
						h4 panel with Label
					.panel-widgets
						.label.label-green Label
						span.divider
						a
							i.fa.fa-chevron-down

				.panel-collapse.in
					.panel-body
						p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut quis tempus libero. Aliquam et dui at augue aliquet gravida at at est. Curabitur mattis sem sed dolor sagittis blandit. Nulla facilisi. Praesent eget nibh nisl. Sed scelerisque ligula sed justo lobortis, at pharetra ipsum ornare. Pellentesque non nisl sit amet erat venenatis semper tincidunt sit amet erat.

		.col-md-6
			.panel.panel-green
				.panel-heading
					.panel-title
						h4 panel with Badge
					.panel-widgets
						.badge.badge-orange Badge
						span.divider
						a
							i.fa.fa-chevron-down

				.panel-collapse.in
					.panel-body
						p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut quis tempus libero. Aliquam et dui at augue aliquet gravida at at est. Curabitur mattis sem sed dolor sagittis blandit. Nulla facilisi. Praesent eget nibh nisl. Sed scelerisque ligula sed justo lobortis, at pharetra ipsum ornare. Pellentesque non nisl sit amet erat venenatis semper tincidunt sit amet erat.

		.col-md-6
			.panel.panel-orange
				.panel-heading
					.panel-title
						h4 panel with Button
					.panel-widgets
						a.btn.btn-xs.btn-mini.btn-pure.btn-amethyst Button
						span.divider
						a
							i.fa.fa-chevron-down
				
				.panel-collapse.in
					.panel-body
						p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut quis tempus libero. Aliquam et dui at augue aliquet gravida at at est. Curabitur mattis sem sed dolor sagittis blandit. Nulla facilisi. Praesent eget nibh nisl. Sed scelerisque ligula sed justo lobortis, at pharetra ipsum ornare. Pellentesque non nisl sit amet erat venenatis semper tincidunt sit amet erat.

		.col-md-6
			.panel.panel-cyan
				.panel-heading
					.panel-title
						h4 panel with Toggle
					.panel-widgets
						//- a.btn.btn-xs.btn-purple Button
						span.divider
						a
							i.fa.fa-chevron-down
				
				.panel-collapse.in
					.panel-body
						p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut quis tempus libero. Aliquam et dui at augue aliquet gravida at at est. Curabitur mattis sem sed dolor sagittis blandit. Nulla facilisi. Praesent eget nibh nisl. Sed scelerisque ligula sed justo lobortis, at pharetra ipsum ornare. Pellentesque non nisl sit amet erat venenatis semper tincidunt sit amet erat.

		.col-md-6
			.panel.panel-red
				.panel-heading
					.panel-title
						h4 panel with Icons
					.panel-widgets
						a
							i.fa.fa-gear
						span.divider
						a
							i.fa.fa-refresh
						span.divider
						a
							i.fa.fa-chevron-down
				
				.panel-collapse.in
					.panel-body
						p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut quis tempus libero. Aliquam et dui at augue aliquet gravida at at est. Curabitur mattis sem sed dolor sagittis blandit. Nulla facilisi. Praesent eget nibh nisl. Sed scelerisque ligula sed justo lobortis, at pharetra ipsum ornare. Pellentesque non nisl sit amet erat venenatis semper tincidunt sit amet erat.

		.col-md-6
			.panel.panel-amethyst
				.panel-heading
					.panel-title
						h4 panel with Tabs
					.panel-widgets
						a.btn.btn-xs.btn-mini.btn-pure.btn-default Tab #1
						span.divider
						a.btn.btn-xs.btn-mini.btn-pure.btn-default Tab #2
						span.divider
						a
							i.fa.fa-chevron-down
				
				.panel-collapse.in
					.panel-body
						p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut quis tempus libero. Aliquam et dui at augue aliquet gravida at at est. Curabitur mattis sem sed dolor sagittis blandit. Nulla facilisi. Praesent eget nibh nisl. Sed scelerisque ligula sed justo lobortis, at pharetra ipsum ornare. Pellentesque non nisl sit amet erat venenatis semper tincidunt sit amet erat.

		.col-md-6
			.panel.panel-gray
				.panel-heading
					.panel-title
						h4 Gray panel
					.panel-widgets
						a
							i.fa.fa-chevron-down
				
				.panel-collapse.in
					.panel-body
						p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut quis tempus libero. Aliquam et dui at augue aliquet gravida at at est. Curabitur mattis sem sed dolor sagittis blandit. Nulla facilisi. Praesent eget nibh nisl. Sed scelerisque ligula sed justo lobortis, at pharetra ipsum ornare. Pellentesque non nisl sit amet erat venenatis semper tincidunt sit amet erat.

	h2 Bright panels
	.row
		.col-md-6
			.panel.panel-bright.panel-default
				.panel-heading
					.panel-title
						h4 panel with Label
					.panel-widgets
						.label.label-green Label
						span.divider
						a
							i.fa.fa-chevron-down

				.panel-collapse.in
					.panel-body
						p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut quis tempus libero. Aliquam et dui at augue aliquet gravida at at est. Curabitur mattis sem sed dolor sagittis blandit. Nulla facilisi. Praesent eget nibh nisl. Sed scelerisque ligula sed justo lobortis, at pharetra ipsum ornare. Pellentesque non nisl sit amet erat venenatis semper tincidunt sit amet erat.

		.col-md-6
			.panel.panel-bright.panel-green
				.panel-heading
					.panel-title
						h4 panel with Badge
					.panel-widgets
						.badge.badge-orange Badge
						span.divider
						a
							i.fa.fa-chevron-down

				.panel-collapse.in
					.panel-body
						p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut quis tempus libero. Aliquam et dui at augue aliquet gravida at at est. Curabitur mattis sem sed dolor sagittis blandit. Nulla facilisi. Praesent eget nibh nisl. Sed scelerisque ligula sed justo lobortis, at pharetra ipsum ornare. Pellentesque non nisl sit amet erat venenatis semper tincidunt sit amet erat.

		.col-md-6
			.panel.panel-bright.panel-orange
				.panel-heading
					.panel-title
						h4 panel with Button
					.panel-widgets
						a.btn.btn-xs.btn-mini.btn-pure.btn-amethyst Button
						span.divider
						a
							i.fa.fa-chevron-down
				
				.panel-collapse.in
					.panel-body
						p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut quis tempus libero. Aliquam et dui at augue aliquet gravida at at est. Curabitur mattis sem sed dolor sagittis blandit. Nulla facilisi. Praesent eget nibh nisl. Sed scelerisque ligula sed justo lobortis, at pharetra ipsum ornare. Pellentesque non nisl sit amet erat venenatis semper tincidunt sit amet erat.

		.col-md-6
			.panel.panel-bright.panel-cyan
				.panel-heading
					.panel-title
						h4 panel with Toggle
					.panel-widgets
						//- a.btn.btn-xs.btn-purple Button
						span.divider
						a
							i.fa.fa-chevron-down
				
				.panel-collapse.in
					.panel-body
						p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut quis tempus libero. Aliquam et dui at augue aliquet gravida at at est. Curabitur mattis sem sed dolor sagittis blandit. Nulla facilisi. Praesent eget nibh nisl. Sed scelerisque ligula sed justo lobortis, at pharetra ipsum ornare. Pellentesque non nisl sit amet erat venenatis semper tincidunt sit amet erat.

		.col-md-6
			.panel.panel-bright.panel-red
				.panel-heading
					.panel-title
						h4 panel with Icons
					.panel-widgets
						a
							i.fa.fa-gear
						span.divider
						a
							i.fa.fa-refresh
						span.divider
						a
							i.fa.fa-chevron-down
				
				.panel-collapse.in
					.panel-body
						p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut quis tempus libero. Aliquam et dui at augue aliquet gravida at at est. Curabitur mattis sem sed dolor sagittis blandit. Nulla facilisi. Praesent eget nibh nisl. Sed scelerisque ligula sed justo lobortis, at pharetra ipsum ornare. Pellentesque non nisl sit amet erat venenatis semper tincidunt sit amet erat.

		.col-md-6
			.panel.panel-bright.panel-amethyst
				.panel-heading
					.panel-title
						h4 panel with Tabs
					.panel-widgets
						a.btn.btn-xs.btn-mini.btn-pure.btn-default Tab #1
						span.divider
						a.btn.btn-xs.btn-mini.btn-pure.btn-default Tab #2
						span.divider
						a
							i.fa.fa-chevron-down
				
				.panel-collapse.in
					.panel-body
						p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut quis tempus libero. Aliquam et dui at augue aliquet gravida at at est. Curabitur mattis sem sed dolor sagittis blandit. Nulla facilisi. Praesent eget nibh nisl. Sed scelerisque ligula sed justo lobortis, at pharetra ipsum ornare. Pellentesque non nisl sit amet erat venenatis semper tincidunt sit amet erat.

		.col-md-6
			.panel.panel-bright.panel-gray
				.panel-heading
					.panel-title
						h4 Gray panel
					.panel-widgets
						a
							i.fa.fa-chevron-down
				
				.panel-collapse.in
					.panel-body
						p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut quis tempus libero. Aliquam et dui at augue aliquet gravida at at est. Curabitur mattis sem sed dolor sagittis blandit. Nulla facilisi. Praesent eget nibh nisl. Sed scelerisque ligula sed justo lobortis, at pharetra ipsum ornare. Pellentesque non nisl sit amet erat venenatis semper tincidunt sit amet erat.

	h2 Notification
	.row
		.col-md-6
			.notification
				h4 Default / Cyan Notification
				p
					| Lorem ipsum dolor sit amet, consectetur 
					b adipiscing 
					| elit. Ut quis tempus libero.
					b Aliquam 
					| et dui at augue aliquet gravida at at est. Curabitur mattis sem  
					b sed dolor sagittis 
					| blandit. Nulla facilisi. Praesent eget nibh nisl. Sed scelerisque ligula sed justo lobortis, at pharetra ipsum ornare. Pellentesque non nisl sit amet erat venenatis semper tincidunt sit amet erat.

		.col-md-6
			.notification.notification-green
				h4 Green Notification
				p
					| Lorem ipsum dolor sit amet, consectetur 
					b adipiscing 
					| elit. Ut quis tempus libero.
					b Aliquam 
					| et dui at augue aliquet gravida at at est. Curabitur mattis sem 
					b sed dolor sagittis 
					| blandit. Nulla facilisi. Praesent eget nibh nisl. Sed scelerisque ligula sed justo lobortis, at pharetra ipsum ornare. Pellentesque non nisl sit amet erat venenatis semper tincidunt sit amet erat.

		.col-md-6
			.notification.notification-orange
				h4 Orange Notification
				p
					| Lorem ipsum dolor sit amet, consectetur 
					b adipiscing 
					| elit. Ut quis tempus libero.
					b Aliquam 
					| et dui at augue aliquet gravida at at est. Curabitur mattis sem 
					b sed dolor sagittis 
					| blandit. Nulla facilisi. Praesent eget nibh nisl. Sed scelerisque ligula sed justo lobortis, at pharetra ipsum ornare. Pellentesque non nisl sit amet erat venenatis semper tincidunt sit amet erat.

		.col-md-6
			.notification.notification-red
				h4 Red Notification
				p
					| Lorem ipsum dolor sit amet, consectetur 
					b adipiscing 
					| elit. Ut quis tempus libero.
					b Aliquam 
					| et dui at augue aliquet gravida at at est. Curabitur mattis sem 
					b sed dolor sagittis 
					| blandit. Nulla facilisi. Praesent eget nibh nisl. Sed scelerisque ligula sed justo lobortis, at pharetra ipsum ornare. Pellentesque non nisl sit amet erat venenatis semper tincidunt sit amet erat.

		.col-md-6
			.notification.notification-amethyst
				h4 Amethyst Notification
				p
					| Lorem ipsum dolor sit amet, consectetur 
					b adipiscing 
					| elit. Ut quis tempus libero.
					b Aliquam 
					| et dui at augue aliquet gravida at at est. Curabitur mattis sem 
					b sed dolor sagittis 
					| blandit. Nulla facilisi. Praesent eget nibh nisl. Sed scelerisque ligula sed justo lobortis, at pharetra ipsum ornare. Pellentesque non nisl sit amet erat venenatis semper tincidunt sit amet erat.

		.col-md-6
			.notification.notification-gray
				h4 Gray Notification
				p
					| Lorem ipsum dolor sit amet, consectetur 
					b adipiscing 
					| elit. Ut quis tempus libero.
					b Aliquam 
					| et dui at augue aliquet gravida at at est. Curabitur mattis sem 
					b sed dolor sagittis 
					| blandit. Nulla facilisi. Praesent eget nibh nisl. Sed scelerisque ligula sed justo lobortis, at pharetra ipsum ornare. Pellentesque non nisl sit amet erat venenatis semper tincidunt sit amet erat.
