

main#tabs-accordions-container.content-layout
	h2 Tab &amp; Accordion
	.row
		.col-md-12
			.tile.tile-white
				.tile-header
					h3 Basic Tabs Example
					.tile-widgets
						a.refresh
							i.fa.fa-refresh
						span.divider
						a.remove
							i.fa.fa-times

				.tile-body
					.row
						.col-md-6
							ul.nav.nav-tabs.bordered
								li.active
									a Home
								li
									a Profile
								li.dropdown
									a.dropdown-toggle Dropdown
										b.caret

							.tab-content
								.tab-pane.fade.active.in
									p Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.

						.col-md-6
							ul.nav.nav-tabs.right-aligned
								li.active
									a Home
								li
									a Profile
								li.dropdown
									a.dropdown-toggle Dropdown
										b.caret

							.tab-content
								.tab-pane.fade.active.in
									p Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.

			.tile.tile-white
				.tile-header
					h3 Stacked Pills Example
					.tile-widgets
						a.refresh
							i.fa.fa-refresh
						span.divider
						a.remove
							i.fa.fa-times

				.tile-body
					.row
						.col-sm-3
							ul.nav.nav-pills.nav-red.nav-stacked
								li.active
									a Home
								li
									a Profile
								li.dropdown
									a.dropdown-toggle Dropdown
										b.caret

						.col-sm-9
							.tab-content
								.tab-pane.fade.active.in
									p Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.
									p Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.
