doctype html
html(ng-app="index", lang="en-US")
  head
    title Index | ngAdmin
    include ../partial/head

  body.fixed-layout.minify-nav
    .container-layout
      aside.aside-layout.navigation-layout(nav-layout)
        include ../partial/navigation

      main.main-layout
        include ../partial/header
        ng-view.viewport-layout

      aside.aside-layout.fixed-layout.chat-layout(chat-layout)
        include ../partial/chatbar