doctype
html(ng-app="welcome", lang="zh-CN")
	head
		title Welcome ngAdmin
		include ../partial/head

	body#welcome-page
		#welcome-container
			.head-module
				.container
					.row
						.col-sm-12
							h1.caption-head ngAdmin
							p.desc-head Please enter your email and password to login.

			.form-module(ng-controller="Welcome.Login")
				.container
					.row
						.col-md-4.col-md-offset-4.col-sm-6.col-sm-offset-3
							form(name="form", role="form")
								.form-group
									.input-group-login.input-group
										.input-group-addon
											i.fa.fa-user
										input.form-control(name="email", type="email", placeholder="Please enter email")

								.form-group
									.input-group-login.input-group
										.input-group-addon
											i.fa.fa-lock
										input.form-control(name="password", type="password", placeholder="Please enter password")
								
								.form-group
									button.btn-login.btn.btn-block(type="button", role="button") Login
										i.fa.fa-sign-in

			.split-module
				em.line - or -

			.footer-module
				a.forget(title="Forgot password") Forgot Password
				p.copyright Copyright © 2014.