
.content-layout
  section#navbars-container
    h2 Navbars
    nav.navbar(role='navigation')
      .container-fluid
        .navbar-header
          button.navbar-toggle(type='button')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand Brand

        .collapse.navbar-collapse
          ul.nav.navbar-nav
            li.active
              a Link
            li.disabled
              a Link
            li.dropdown
              a.dropdown-toggle
                | Dropdown
                span.caret
              ul.dropdown-menu(role='menu')
                li
                  a Action
                li
                  a Another action
                li
                  a Something else here
                li.divider
                li
                  a Separated link
                li.divider
                li
                  a One more separated link

          form.navbar-form.navbar-left(role='search')
            .form-group
              input.form-control(type='text', placeholder='Search')
            | &nbsp;
            button.btn.btn-default(type='submit') Submit

          ul.nav.navbar-nav.navbar-right
            li
              a Link
            li.dropdown
              a.dropdown-toggle
                | Dropdown
                span.caret
              ul.dropdown-menu(role='menu')
                li
                  a Action
                li
                  a Another action
                li
                  a Something else here
                li.divider
                li
                  a Separated link

    nav.navbar.navbar-black(role='navigation')
      .container-fluid
        .navbar-header
          button.navbar-toggle(type='button')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand Brand

        .collapse.navbar-collapse
          ul.nav.navbar-nav
            li.active
              a Link
            li.disabled
              a Link
            li.dropdown
              a.dropdown-toggle
                | Dropdown
                span.caret
              ul.dropdown-menu(role='menu')
                li
                  a Action
                li
                  a Another action
                li
                  a Something else here
                li.divider
                li
                  a Separated link
                li.divider
                li
                  a One more separated link

          form.navbar-form.navbar-left(role='search')
            .form-group
              input.form-control(type='text', placeholder='Search')
            | &nbsp;
            button.btn.btn-default(type='submit') Submit

          ul.nav.navbar-nav.navbar-right
            li
              a Link
            li.dropdown
              a.dropdown-toggle
                | Dropdown
                span.caret
              ul.dropdown-menu(role='menu')
                li
                  a Action
                li
                  a Another action
                li
                  a Something else here
                li.divider
                li
                  a Separated link

    nav.navbar.navbar-green(role='navigation')
      .container-fluid
        .navbar-header
          button.navbar-toggle(type='button')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand Brand

        .collapse.navbar-collapse
          ul.nav.navbar-nav
            li.active
              a Link
            li.disabled
              a Link
            li.dropdown
              a.dropdown-toggle
                | Dropdown
                span.caret
              ul.dropdown-menu(role='menu')
                li
                  a Action
                li
                  a Another action
                li
                  a Something else here
                li.divider
                li
                  a Separated link
                li.divider
                li
                  a One more separated link

          form.navbar-form.navbar-left(role='search')
            .form-group
              input.form-control(type='text', placeholder='Search')
            | &nbsp;
            button.btn.btn-default(type='submit') Submit

          ul.nav.navbar-nav.navbar-right
            li
              a Link
            li.dropdown
              a.dropdown-toggle
                | Dropdown
                span.caret
              ul.dropdown-menu(role='menu')
                li
                  a Action
                li
                  a Another action
                li
                  a Something else here
                li.divider
                li
                  a Separated link
