include mixins/panel

.content-layout
  section#pagination-container
    h3 Pagination
    br

    +panel('Pagination &amp; Pager')
      mixin body
        .row
          .col-md-6
            h5 Normal Pagination
            ul.pagination
              li
                a(href='#') &laquo;
              li
                a(href='#') 1
              li.active
                a(href='#') 2
              li
                a(href='#') 3
              li.disabled
                a(href='#') 4
              li
                a(href='#') 5
              li
                a(href='#') 6
              li
                a(href='#') &raquo;
            p
              strong Sizes
            ul.pagination.pagination-sm
              li
                a(href='#') &laquo;
              li
                a(href='#') 1
              li.active
                a(href='#') 2
              li
                a(href='#') 3
              li.disabled
                a(href='#') 4
              li
                a(href='#') 5
              li
                a(href='#') 6
              li
                a(href='#') &raquo;

            div.clear
            ul.pagination.pagination-lg
              li
                a(href='#') &laquo;
              li
                a(href='#') 1
              li.active
                a(href='#') 2
              li
                a(href='#') 3
              li
                a(href='#') 4
              li
                a(href='#') &raquo;

          div.col-md-6
            h5 Pager
            ul.pager
              li
                a(href='#')
                  i.entypo-left-thin
                  | Previous
              | &nbsp;
              li
                a(href='#')
                  | Next
                  i.entypo-right-thin

            p
              strong Floated

            ul.pager
              li.previous
                a(href='#')
                  i.entypo-left-thin
                  | Previous
              li.next
                a(href='#')
                  | Next
                  i.entypo-right-thin

            p
              strong Disabled

            ul.pager
              li.previous.disabled
                a(href='#')
                  i.entypo-left-thin
                  | Previous
              li.next
                a(href='#')
                  | Next
                  i.entypo-right-thin
