
section#staff-container.content-layout
  ol.breadcrumb.breadcrumb-pure
    li
      a(title='Staff') Staff
    li.active List

  ng-view

script(id='template/staff/list.html', type='text/ng-template')
  .list-module(ng-controller='StaffController')
    .widgets-bar.clearfix
      button.btn.btn-cyan(title='New', role='button')
        i.fa.fa-plus
        | &nbsp;New

      form.search-form.pull-right(role='form')
        label
          input(type='search', placeholder='Search...')
          i.fa.fa-search

    .row
      .col-md-2.col-sm-3.col-xs-6(ng-repeat='item in members')
        .user
          a.pic(href='#/overview/{{item.id}}', title='{{item.name}}')
            i.fa.fa-share
            img(ng-src='{{item.avatar}}')

          a.name(href='#/overview/{{item.id}}', title='{{item.name}}') {{item.name}}
          .phone tel:
            span.number {{item.phone}}

script(id='template/staff/member.html', type='text/ng-template')
  .detail-module(ng-controller='MemberController')
    ul.nav.nav-tabs.bordered
      li(ng-class='{ active: tab == "overview" }')
        a(href='#/overview/{{id}}', title='Overview') Overview
      li(ng-class='{ active: tab == "profile" }')
        a(href='#/profile/profile/{{id}}', title='Profile') Profile
      li(ng-class='{ active: tab == "setting" }')
        a(href='#/setting/{{id}}', title='Setting') Setting

    .tab-content
      .profile-warp.tab-pane.active(ng-controller='OverviewController', ng-if='tab == "overview"')
        .row
          .col-md-2
            a.pic(title='Johnnie Linton')
              img(src='../images/member-1.jpg')
            p.info-item
              i.fa.fa-user
              | Johnnie Linton
            p.info-item
              i.fa.fa-phone
              | 15910395837
            p.info-item
              i.fa.fa-envelope
              a(href='mailto:hi@ishgo.com?subsject=hi', title='hi@ishgo.com') hi@ishgo.com
            p.info-item
              i.fa.fa-building-o
              | 777 Hello Road

          .col-md-7
            h3.caption Performance

            .table-responsive
              table.permissions-table.table.table-bordered.table-hover
                thead
                  tr
                    th Months
                    th Performance

                tbody
                  tr
                    td 2014/03
                    td 200

                  tr
                    td 2014/02
                    td 180

                  tr
                    td 2014/01
                    td 140

                  tr
                    td 2013/12
                    td 120

                  tr
                    td 2013/11
                    td 140

                  tr
                    td 2013/10
                    td 100

                  tr
                    td 2013/09
                    td 110

      .profile-edit-warp.tab-pane.active(ng-controller='ProfileController', ng-if='tab == "profile"')
        .row
          .col-md-3
            ul.nav.nav-pills.nav-stacked
              li(ng-class='{ active: tab == "profile" }')
                a(href='#/profile/profile/{{id}}', title='Profile')
                  i.fa.fa-user
                  | Profile
              li(ng-class='{ active: tab == "avatar" }')
                a(href='#/profile/avatar/{{id}}', title='Avatar')
                  i.fa.fa-picture-o
                  | Avatar
              li(ng-class='{ active: tab == "password" }')
                a(href='#/profile/password/{{id}}', title='Password')
                  i.fa.fa-lock
                  | Password

          .col-md-9
            .tab-content
              .tab-pane.active(ng-controller='DetailController', ng-if='tab == "profile"')
                form.form-horizontal(role='form')
                  .form-group
                    label.col-sm-2.control-label Name
                    .col-sm-10
                      input.form-control(type='name', placeholder='Name')
                  .form-group
                    label.col-sm-2.control-label Phone
                    .col-sm-10
                      input.form-control(type='phone', placeholder='Phone')
                  .form-group
                    label.col-sm-2.control-label ID-Number
                    .col-sm-10
                      input.form-control(type='text', placeholder='ID Number')
                  .form-group
                    label.col-sm-2.control-label Address
                    .col-sm-10
                      input.form-control(type='text', placeholder='Address')
                  .form-group
                    .col-sm-offset-2.col-sm-10
                      button.btn.btn-cyan(type='button', role='button') Submit

              .tab-pane.active(ng-controller='AvatarControlller', ng-if='tab == "avatar"')
                .face-change-warp
                  #altContent

              .tab-pane.active(ng-controller='PasswordController', ng-if='tab == "password"')
                form.form-horizontal(role='form')
                  .form-group
                    label.col-sm-2.control-label Old Pass
                    .col-sm-10
                      input.form-control(type='password', placeholder='Please enter old password')
                  .form-group
                    label.col-sm-2.control-label New Pass
                    .col-sm-10
                      input.form-control(type='password', placeholder='Please enter new password')
                  .form-group
                    label.col-sm-2.control-label Repeat
                    .col-sm-10
                      input.form-control(type='password', placeholder='Repaet new password')
                  .form-group
                    .col-sm-offset-2.col-sm-10
                      button.btn.btn-cyan(type='button', role='button') Submit

      .setting-warp.tab-pane.active(ng-controller='SettingController', ng-if='tab == "setting"')
        label
          input(type='checkbox', checked)
          | Manager

        label
          input(type='checkbox')
          | Cook

        label
          input(type='checkbox')
          | Cashier

        label
          input(type='checkbox')
          | Waiter
