
.content-layout
  section#tile-container
    h2.caption State
    br
    .row
      .col-sm-3
        .tile.tile-state.tile-blue
          .icon
            i.fa.fa-suitcase
          .num 08
          h3 Documents
          p so far in our blog, and our website.

      .col-sm-3
        .tile.tile-state.tile-cyan
          .icon
            i.fa.fa-dashboard
          .num 24
          h3 Registered users
          p so far in our blog, and our website.

      .col-sm-3
        .tile.tile-state.tile-green
          .icon
            i.fa.fa-dashboard
          .num 12
          h3 Registered users
          p so far in our blog, and our website.

      .col-sm-3
        .tile.tile-state.tile-yellow
          .icon
            i.fa.fa-tag
          .num 83
          h3 Registered users
          p so far in our blog, and our website.

      .col-sm-3
        .tile.tile-state.tile-orange
          .icon
            i.fa.fa-space-shuttle
          .num 83
          h3 Registered users
          p so far in our blog, and our website.

      .col-sm-3
        .tile.tile-state.tile-red
          .icon
            i.fa.fa-rocket
          .num 83
          h3 Registered users
          p so far in our blog, and our website.

      .col-sm-3
        .tile.tile-state.tile-pink
          .icon
            i.fa.fa-book
          .num 83
          h3 Registered users
          p so far in our blog, and our website.

      .col-sm-3
        .tile.tile-state.tile-amethyst
          .icon
            i.fa.fa-tree
          .num 83
          h3 Registered users
          p so far in our blog, and our website.

      .col-sm-3
        .tile.tile-state.tile-black
          .icon
            i.fa.fa-bullhorn
          .num 83
          h3 Registered users
          p so far in our blog, and our website.

      .col-sm-3
        .tile.tile-state.tile-gray
          .icon
            i.fa.fa-beer
          .num 83
          h3 Registered users
          p so far in our blog, and our website.

    h2.caption Progress Bar
    br
    .row
      .col-md-3
        .tile.tile-progress.tile-blue
          .tile-header
            h3 Visitors
            span so far in our blog, and our website.
          .tile-progressbar
            span(data-fill='65.5%', style='width: 65.5%;')
          .tile-footer
            h4
              span.pct-counter 65.5
              | % increase
            span so far in our blog and our website

      .col-md-3
        .tile.tile-progress.tile-cyan
          .tile-header
            h3 Visitors
            span so far in our blog, and our website.
          .tile-progressbar
            span(data-fill='65.5%', style='width: 65.5%;')
          .tile-footer
            h4
              span.pct-counter 65.5
              | % increase
            span so far in our blog and our website

      .col-md-3
        .tile.tile-progress.tile-green
          .tile-header
            h3 Visitors
            span so far in our blog, and our website.
          .tile-progressbar
            span(data-fill='65.5%', style='width: 65.5%;')
          .tile-footer
            h4
              span.pct-counter 65.5
              | % increase
            span so far in our blog and our website

      .col-md-3
        .tile.tile-progress.tile-yellow
          .tile-header
            h3 Visitors
            span so far in our blog, and our website.
          .tile-progressbar
            span(data-fill='65.5%', style='width: 65.5%;')
          .tile-footer
            h4
              span.pct-counter 65.5
              | % increase
            span so far in our blog and our website

      .col-md-3
        .tile.tile-progress.tile-orange
          .tile-header
            h3 Visitors
            span so far in our blog, and our website.
          .tile-progressbar
            span(data-fill='65.5%', style='width: 65.5%;')
          .tile-footer
            h4
              span.pct-counter 65.5
              | % increase
            span so far in our blog and our website

      .col-md-3
        .tile.tile-progress.tile-red
          .tile-header
            h3 Visitors
            span so far in our blog, and our website.
          .tile-progressbar
            span(data-fill='65.5%', style='width: 65.5%;')
          .tile-footer
            h4
              span.pct-counter 65.5
              | % increase
            span so far in our blog and our website

      .col-md-3
        .tile.tile-progress.tile-pink
          .tile-header
            h3 Visitors
            span so far in our blog, and our website.
          .tile-progressbar
            span(data-fill='65.5%', style='width: 65.5%;')
          .tile-footer
            h4
              span.pct-counter 65.5
              | % increase
            span so far in our blog and our website

      .col-md-3
        .tile.tile-progress.tile-amethyst
          .tile-header
            h3 Visitors
            span so far in our blog, and our website.
          .tile-progressbar
            span(data-fill='65.5%', style='width: 65.5%;')
          .tile-footer
            h4
              span.pct-counter 65.5
              | % increase
            span so far in our blog and our website

      .col-md-3
        .tile.tile-progress.tile-black
          .tile-header
            h3 Visitors
            span so far in our blog, and our website.
          .tile-progressbar
            span(data-fill='65.5%', style='width: 65.5%;')
          .tile-footer
            h4
              span.pct-counter 65.5
              | % increase
            span so far in our blog and our website

    h2.caption Block
    br
    .row
      .col-md-3
        .tile.tile-block.tile-green
          .tile-header
            i.fa.fa-list-ul
            a(href='#')
              | Tasks
              span To do list, tick one.

          .tile-content
            input.form-control(type='text', placeholder='Add Task')
            ul.todo-list
              li
                .checkbox.checkbox-replace.color-white.neon-cb-replacement
                  label.cb-wrapper
                    input(type='checkbox')
                    .checked
                  label Website Design
              li
                .checkbox.checkbox-replace.color-white.neon-cb-replacement.checked
                  label.cb-wrapper
                    input#task-2(type='checkbox', checked='')
                    .checked
                  label Slicing
              li
                .checkbox.checkbox-replace.color-white.neon-cb-replacement
                  label.cb-wrapper
                    input#task-3(type='checkbox')
                    .checked
                  label WordPress Integration
              li
                .checkbox.checkbox-replace.color-white.neon-cb-replacement
                  label.cb-wrapper
                    input#task-4(type='checkbox')
                    .checked
                  label SEO Optimize
          .tile-footer
            a(href='#') View all tasks

      .col-sm-3
        .tile.tile-block.tile-cyan
          .tile-header
            i.fa.fa-bullhorn
            a(href='#')
              | Subscribe
              span Get the latest news!
          .tile-content
            p
              | Pleased him another was settled for. Moreover end horrible endeavor entrance any families.
            input.form-control(type='text', placeholder='Enter your email...')
          .tile-footer
            button.btn.btn-block(type='button') Subscribe

    h2.caption Title
    br
    .row
      .col-md-3
        .tile.tile-title.tile-blue
          .icon
            i.fa.fa-leaf

          .title
            h3 Big Center Tile
            p so far in our blog, and our website.

      .col-md-3
        .tile.tile-title.tile-cyan
          .icon
            i.fa.fa-lock

          .title
            h3 Big Center Tile
            p so far in our blog, and our website.

      .col-md-3
        .tile.tile-title.tile-green
          .icon
            i.fa.fa-link

          .title
            h3 Big Center Tile
            p so far in our blog, and our website.

      .col-md-3
        .tile.tile-title.tile-yellow
          .icon
            i.fa.fa-heart

          .title
            h3 Big Center Tile
            p so far in our blog, and our website.

      .col-md-3
        .tile.tile-title.tile-orange
          .icon
            i.fa.fa-globe

          .title
            h3 Big Center Tile
            p so far in our blog, and our website.

      .col-md-3
        .tile.tile-title.tile-red
          .icon
            i.fa.fa-magnet

          .title
            h3 Big Center Tile
            p so far in our blog, and our website.

      .col-md-3
        .tile.tile-title.tile-pink
          .icon
            i.fa.fa-puzzle-piece

          .title
            h3 Big Center Tile
            p so far in our blog, and our website.

      .col-md-3
        .tile.tile-title.tile-amethyst
          .icon
            i.fa.fa-anchor

          .title
            h3 Big Center Tile
            p so far in our blog, and our website.

      .col-md-3
        .tile.tile-title.tile-black
          .icon
            i.fa.fa-cubes

          .title
            h3 Big Center Tile
            p so far in our blog, and our website.

      .col-md-3
        .tile.tile-title.tile-gray
          .icon
            i.fa.fa-drupal

          .title
            h3 Big Center Tile
            p so far in our blog, and our website.
