include mixins/panel

.content-layout
  #tooltips-popovers-container
    h2 Popovers and Tooltips

    +panel('Popovers and Tooltips')
      mixin body
        .docs-example
          h4 Tooltips
          p
            button.btn.btn-primary(tooltip-placement='top', tooltip='It\'s so simple to create a tooltop for my website!', data-original-title='Twitter Bootstrap Tooltips') I'm a Tooltips
            button.btn.btn-success(tooltip-placement='bottom', tooltip='It\'s so simple to create a tooltop for my website!', data-original-title='Twitter Bootstrap Tooltips') I'm a Tooltips
            button.btn.btn-info(tooltip-placement='top', tooltip='It\'s so simple to create a tooltop for my website!', data-original-title='Twitter Bootstrap Tooltips') I'm a Tooltips
            button.btn.btn-warning(tooltip-placement='right', tooltip='It\'s so simple to create a tooltop for my website!', data-original-title='Twitter Bootstrap Tooltips') I'm a Tooltips
            button.btn.btn-danger(tooltip-placement='left', tooltip='It\'s so simple to create a tooltop for my website!', data-original-title='Twitter Bootstrap Tooltips') Click me!

        .docs-example
          h4 Popovers
          p
            button.btn.btn-primary(popover-placement='top', popover='It\'s so simple to create a tooltop for my website!', data-original-title='Twitter Bootstrap Popover') I'm a Popover
            button.btn.btn-success(popover-placement='bottom', popover='It\'s so simple to create a tooltop for my website!', data-original-title='Twitter Bootstrap Popover') I'm a Popover
            button.btn.btn-info(popover-placement='top', popover='It\'s so simple to create a tooltop for my website!', data-original-title='Twitter Bootstrap Popover') I'm a Popover
            button.btn.btn-warning(popover-placement='right', popover='It\'s so simple to create a tooltop for my website!', data-original-title='Twitter Bootstrap Popover') I'm a Popover
            button.btn.btn-danger(popover-placement='left', popover='It\'s so simple to create a tooltop for my website!', data-original-title='Twitter Bootstrap Popover') Click me!
