

main#alert-container.content-layout
  h2 Alerts
  br

  .row
    .col-md-6
      .alert
        strong Plain Style!&nbsp;
        | Choose from green, cyan, orange, red or others.

    .col-md-6
      .alert.alert-success
        strong Success Style!&nbsp;
        | Choose from green, cyan, orange, red or others.

  .row
    .col-md-6
      .alert.alert-info
        strong Info Style!&nbsp;
        | Choose from green, cyan, orange, red or others.

    .col-md-6
      .alert.alert-warning
        strong Warning Style!&nbsp;
        | Choose from green, cyan, orange, red or others.

  .row
    .col-md-6
      .alert.alert-danger
        strong Danger Style!&nbsp;
        | Choose from green, cyan, orange, red or others.
