

main#badge-label-container.content-layout
  h3 Badges &amp; Labels
  br

  .panel
    .panel-heading
      .panel-title
        h5 Badges
      .panel-widgets
        a
          i.fa.fa-chevron-down

    .panel-collapse.in
      .panel-body.no-padding
        table.table.table-bordered
          thead
            tr
              th(width="50%") Badges
              th Squared Badges
          tbody
            tr
              td.padding-lg
                p
                  a(href="")
                    span.badge 1
                    | &nbsp;Plain
                p
                  a(href="")
                    span.badge.badge-primary 2
                    | &nbsp;Primary
                p
                  a(href="")
                    span.badge.badge-success 3
                    | &nbsp;Success
                p
                  a(href="")
                    span.badge.badge-info 4
                    | &nbsp;Info
                p
                  a(href="")
                    span.badge.badge-warning 5
                    | &nbsp;Warning
                p
                  a(href="")
                    span.badge.badge-danger 6
                    | &nbsp;Danger

              td.padding-lg
                p
                  a(href="")
                    span.badge.badge-square 1
                    | &nbsp;Plain
                p
                  a(href="")
                    span.badge.badge-square.badge-primary 2
                    | &nbsp;Primary
                p
                  a(href="")
                    span.badge.badge-square.badge-success 3
                    | &nbsp;Success
                p
                  a(href="")
                    span.badge.badge-square.badge-info 4
                    | &nbsp;Info
                p
                  a(href="")
                    span.badge.badge-square.badge-warning 5
                    | &nbsp;Warning
                p
                  a(href="")
                    span.badge.badge-square.badge-danger 6
                    | &nbsp;Danger

  .panel
    .panel-heading
      .panel-title
        h5 Labels
      .panel-widgets
        a
          i.fa.fa-chevron-down

    .panel-collapse.in
      .panel-body.no-padding
        table.table.table-bordered
          thead
            tr
              th Labels
          tbody
            tr
              td.padding-lg
                .label Plain
                | &nbsp;
                .label.label-primary Primary
                | &nbsp;
                .label.label-success Success
                | &nbsp;
                .label.label-info Info
                | &nbsp;
                .label.label-warning Warning
                | &nbsp;
                .label.label-danger Danger