

#form-basic-container.content-layout
  h3 Basic Form Elements
  .panel
    .panel-heading
      .panel-title
        h5 Default Form Inputs
      .panel-widgets
        a
          i.fa.fa-chevron-down

    .panel-collapse.in
      .panel-body
        form.form-horizontal(role="form")
          .form-group
            label.col-sm-3.control-label(for="field-1") Field 1
            .col-sm-5
              input#field-1.form-control(type="text", placeholder="Placeholder")
          .form-group
            label.col-sm-3.control-label(for="field-2") Disabled
            .col-sm-5
              input#field-2.form-control(type="text", placeholder="Placeholder", disabled)
          .form-group
            label.col-sm-3.control-label(for="field-3") Password
            .col-sm-5
              input#field-3.form-control(type="password", placeholder="Placeholder (Password)")
          .form-group
            label.col-sm-3.control-label(for="field-1") File Field
            .col-sm-5
              input#field-file.form-control(type="file", placeholder="Placeholder")
          .form-group
            label.col-sm-3.control-label(for="field-ta-1") Textarea
            .col-sm-5
              textarea#field-ta-1.form-control(placeholder="Textarea")
          .form-group
            label.col-sm-3.control-label(for="field-ta-2") Autogrow
            .col-sm-5
              textarea#field-ta-2.form-control.autogrow(placeholder="I will grow as you type new lines.", style="overflow: hidden; word-wrap: break-word; resize: horizontal; height: 48px;")
          .form-group.has-error
            label.col-sm-3.control-label(for="field-4") Error field
            .col-sm-5
              input#field-4.form-control(type="text", placeholder="Placeholder")
          .form-group.has-warning
            label.col-sm-3.control-label(for="field-5") Warning field
            .col-sm-5
              input#field-5.form-control(type="text", placeholder="Placeholder")
          .form-group.has-success
            label.col-sm-3.control-label(for="field-6") Success field
            .col-sm-5
              input#field-6.form-control(type="text", placeholder="Placeholder")
          .form-group
            label.col-sm-3.control-label Select List
            .col-sm-5
              select.form-control
                option Option 1
                option Option 2
                option Option 3
                option Option 4
                option Option 5
          .form-group
            .col-sm-offset-3.col-sm-5
              .checkbox
                label
                  input(type="checkbox")
                  | Checkbox 1
              .checkbox
                label
                  input(type="checkbox")
                  | Checkbox 2
          .form-group
            .col-sm-offset-3.col-sm-5
              .radio
                label
                  input#optionsRadios1(type="radio", name="optionsRadios", value="option1", checked)
                  | Radio Input 1
              .radio
                label
                  input#optionsRadios2(type="radio", name="optionsRadios", value="option2")
                  | Radio Input 2
          .form-group
            .col-sm-offset-3.col-sm-5
              button.btn.btn-success(type="button", role="button") Sign in

  .panel
    .panel-heading
      .panel-title
        h5 Input Sizes
      .panel-widgets
        a
          i.fa.fa-chevron-down

    .panel-collapse.in
      .panel-body
        form.form-horizontal(role="form")
          .form-group
            label.col-sm-3.control-label(for="field-1") Large
            .col-sm-5
              input#field-1.form-control.input-lg(type="text", placeholder="Large input (.input-lg)")
          .form-group
            label.col-sm-3.control-label(for="field-1") Medium
            .col-sm-5
              input#field-1.form-control(type="text", placeholder="Normal input")
          .form-group
            label.col-sm-3.control-label(for="field-1") Small
            .col-sm-5
              input#field-1.form-control.input-sm(type="text", placeholder="Large input (.input-sm)")

  .panel
    .panel-heading
      .panel-title
        h5 Input Groups &amp; Addons
      .panel-widgets
        a
          i.fa.fa-chevron-down

    .panel-collapse.in
      .panel-body
        form.form-horizontal(role="form")
          .form-group
            label.col-sm-3.control-label Left addon
            .col-sm-5
              .input-group
                .text.input-group-addon @
                input.form-control(type="text", placeholder="Username")
          .form-group
            label.col-sm-3.control-label Right addon
            .col-sm-5
              .input-group
                input.form-control(type="text")
                .text.input-group-addon .00
          .form-group
            label.col-sm-3.control-label Both addons
            .col-sm-5
              .input-group
                .text.input-group-addon $
                input.form-control(type="text")
                .text.input-group-addon .00
          .form-group
            label.col-sm-3.control-label Icon addon
            .col-sm-5
              .input-group
                .text.input-group-addon
                  i.fa.fa-envelope
                input.form-control(type="email", placeholder="Email")
          .form-group
            label.col-sm-3.control-label Minimal type addon
            .col-sm-5
              .input-group.minimal
                .text.input-group-addon
                  i.fa.fa-envelope
                input.form-control(type="email", placeholder="Email")
              br
              .input-group.minimal
                input.form-control(type="text", placeholder="Username")
                .text.input-group-addon
                  i.fa.fa-user
          .form-group
            label.col-sm-3.control-label Buttons assigned
            .col-sm-5
              .input-group
                .text.input-group-btn
                  button.btn.btn-success(type="button") Go!
                input.form-control(type="text")
              br
              .input-group
                input.form-control(type="text")
                .text.input-group-btn
                  button.btn.btn-primary(type="button") Go!
          .form-group
            label.col-sm-3.control-label Dropdowns assigned
            .col-sm-5
              .input-group
                .input-group-btn
                  button.btn.btn-gold.dropdown-toggle(type="button", data-toggle="dropdown")
                    | Action
                    .text.caret
                  ul.dropdown-menu.dropdown-gold
                    li
                      a(href="#") Action
                    li
                      a(href="#") Another action
                    li
                      a(href="#") Something else here
                    li.divider
                    li
                      a(href="#") Separated link
                input.form-control(type="text")
              br
              .input-group
                input.form-control(type="text")
                .input-group-btn
                  .btn-group
                    button.btn.btn-info(type="button") Action
                    button.btn.btn-info.dropdown-toggle(type="button", data-toggle="dropdown")
                      i.fa.fa-info
                    ul.dropdown-menu.dropdown
                      li
                        a(href="#") Action
                      li
                        a(href="#") Another action
                      li
                        a(href="#") Something else here
                      li.divider
                      li
                        a(href="#") Separated link

  .panel
    .panel-heading
      .panel-title
        h5 Replaced Checkboxes &amp; Radio
      .panel-widgets
        a
          i.fa.fa-chevron-down

    .panel-collapse.in
      .panel-body
        form.form-horizontal(role="form", role="form")
          .form-group
            label.col-sm-3.control-label Checkboxes
            .col-sm-5
              .clearfix
                label.checkbox
                  input(type="checkbox", checked)
                  .checkbox-icon
                  .text.checkbox-inner Checkbox 1
              .clearfix
                label.checkbox
                  input(type="checkbox", checked)
                  .checkbox-icon
                  .text.checkbox-inner Checkbox 2
              .clearfix
                label.checkbox
                  input(type="checkbox")
                  .checkbox-icon
                  .text.checkbox-inner Checkbox 3
              .clearfix
                label.checkbox
                  input(type="checkbox", disabled)
                  .checkbox-icon
                  .text.checkbox-inner Checkbox 3
              .clearfix
                label.checkbox
                  input(type="checkbox", disabled, checked)
                  .checkbox-icon
                  .text.checkbox-inner Checkbox 3

          .form-group
            label.col-sm-3.control-label Radio Inputs
            .col-sm-5
              .clearfix
                label.radio
                  input(type="radio", checked)
                  .radio-icon
                  .text.radio-inner Radio 1
              .clearfix
                label.radio
                  input(type="radio", checked)
                  .radio-icon
                  .text.radio-inner Radio 2
              .clearfix
                label.radio
                  input(type="radio")
                  .radio-icon
                  .text.radio-inner Radio 3
              .clearfix
                label.radio
                  input(type="radio", disabled)
                  .radio-icon
                  .text.radio-inner Radio 3
              .clearfix
                label.radio
                  input(type="radio", disabled, checked)
                  .radio-icon
                  .text.radio-inner Radio 3

          .form-group
            label.col-sm-3.control-label Colors
            .col-sm-5
              .clearfix
                label.radio.radio-blue
                  input(type="radio")
                  .radio-icon
                  .text.radio-inner Radio 1
              .clearfix
                label.radio.radio-cyan
                  input(type="radio", checked)
                  .radio-icon
                  .text.radio-inner Radio 2
              .clearfix
                label.radio.radio-green
                  input(type="radio", disabled)
                  .radio-icon
                  .text.radio-inner Radio 3
              .clearfix
                label.radio.radio-yellow
                  input(type="radio", checked, disabled)
                  .radio-icon
                  .text.radio-inner Radio 4
              .clearfix
                label.checkbox.checkbox-orange
                  input(type="checkbox")
                  .checkbox-icon
                  .text.checkbox-inner Checkbox 5
              .clearfix
                label.checkbox.checkbox-red
                  input(type="checkbox", checked)
                  .checkbox-icon
                  .text.checkbox-inner Checkbox 6
              .clearfix
                label.checkbox.checkbox-pink
                  input(type="checkbox", disabled)
                  .checkbox-icon
                  .text.checkbox-inner Checkbox 7
              .clearfix
                label.checkbox.checkbox-amethyst
                  input(type="checkbox", checked, disabled)
                  .checkbox-icon
                  .text.checkbox-inner Checkbox 8

  .panel
    .panel-heading
      .panel-title
        h5 Switches - Checkbox &amp; Radio
      .panel-widgets
        a
          i.fa.fa-chevron-down

    .panel-collapse.in
      .panel-body.bs-example
        form.form-horizontal(role="form")
          .form-group
            label.col-sm-3.control-label Toggle Check
            .col-sm-5
              label.switch
                input(type="checkbox")
                .switch-inner
                  .switch-on
                    .text ON
                  .switch-off
                    .text OFF
                .switch-switch

          .form-group
            label.col-sm-3.control-label Toggle Sizes
            .col-sm-5
              label.switch.switch-lg
                input(type="checkbox", checked)
                .switch-inner
                  .switch-on
                    .text ON
                  .switch-off
                    .text OFF
                .switch-switch
              label.switch.switch-md
                input(type="checkbox", checked)
                .switch-inner
                  .switch-on
                    .text ON
                  .switch-off
                    .text OFF
                .switch-switch
              label.switch.switch-sm
                input(type="checkbox", checked)
                .switch-inner
                  .switch-on
                    .text ON
                  .switch-off
                    .text OFF
                .switch-switch
              label.switch.switch-xs
                input(type="checkbox", checked)
                .switch-inner
                  .switch-on
                    .text ON
                  .switch-off
                    .text OFF
                .switch-switch

          .form-group
            label.col-sm-3.control-label Disabled
            .col-sm-5
              label.switch
                input(type="checkbox", checked, disabled)
                .switch-inner
                  .switch-on
                    .text ON
                  .switch-off
                    .text OFF
                .switch-switch
              label.switch
                input(type="checkbox", disabled)
                .switch-inner
                  .switch-on
                    .text ON
                  .switch-off
                    .text OFF
                .switch-switch

          .form-group
            label.col-sm-3.control-label Apply Icon
            .col-sm-5
              label.switch
                input(type="checkbox")
                .switch-inner
                  .switch-on
                    .text
                      i.fa.fa-check
                  .switch-off
                    .text
                      i.fa.fa-times
                .switch-switch


  .panel
    .panel-heading
      .panel-title
        h5 Input Grid
      .panel-widgets
        a
          i.fa.fa-chevron-down

    .panel-collapse.in
      .panel-body
        .row
          .col-md-12
            input.form-control(type="text", placeholder=".col-md-12")
          .clear
          br
          .col-md-6
            input.form-control(type="text", placeholder=".col-md-6")
          .col-md-6
            input.form-control(type="text", placeholder=".col-md-6")
          .clear
          br
          .col-md-4
            input.form-control(type="text", placeholder=".col-md-4")
          .col-md-4
            input.form-control(type="text", placeholder=".col-md-4")
          .col-md-4
            input.form-control(type="text", placeholder=".col-md-4")
          .clear
          br
          .col-md-3
            input.form-control(type="text", placeholder=".col-md-3")
          .col-md-3
            input.form-control(type="text", placeholder=".col-md-3")
          .col-md-3
            input.form-control(type="text", placeholder=".col-md-3")
          .col-md-3
            input.form-control(type="text", placeholder=".col-md-3")
          .clear
          br
          .col-md-2
            input.form-control(type="text", placeholder=".col-md-2")
          .col-md-2
            input.form-control(type="text", placeholder=".col-md-2")
          .col-md-2
            input.form-control(type="text", placeholder=".col-md-2")
          .col-md-2
            input.form-control(type="text", placeholder=".col-md-2")
          .col-md-2
            input.form-control(type="text", placeholder=".col-md-2")
          .col-md-2
            input.form-control(type="text", placeholder=".col-md-2")
          .clear
          br
          .col-md-1
            input.form-control(type="text", placeholder=".col-md-1")
          .col-md-1
            input.form-control(type="text", placeholder=".col-md-1")
          .col-md-1
            input.form-control(type="text", placeholder=".col-md-1")
          .col-md-1
            input.form-control(type="text", placeholder=".col-md-1")
          .col-md-1
            input.form-control(type="text", placeholder=".col-md-1")
          .col-md-1
            input.form-control(type="text", placeholder=".col-md-1")
          .col-md-1
            input.form-control(type="text", placeholder=".col-md-1")
          .col-md-1
            input.form-control(type="text", placeholder=".col-md-1")
          .col-md-1
            input.form-control(type="text", placeholder=".col-md-1")
          .col-md-1
            input.form-control(type="text", placeholder=".col-md-1")
          .col-md-1
            input.form-control(type="text", placeholder=".col-md-1")
          .col-md-1
            input.form-control(type="text", placeholder=".col-md-1")
