

main#progress-bar.content-layout
  h2 Progress Bar
  .tile.tile-white
    .tile-header
      h3 Progress Types
      .tile-widgets
        a.refresh
          i.fa.fa-refresh
        span.divider
        a.remove
          i.fa.fa-times

    .tile-body
      .progress
        .progress-bar.progress-bar-green(role='progressbar', style='width: 40%')
          span.sr-only 40% Complete (Green)

      .progress
        .progress-bar.progress-bar-cyan(role='progressbar', style='width: 20%')
          span.sr-only 20% Complete (Cyan)
      
      .progress
        .progress-bar.progress-bar-orange(role='progressbar', style='width: 60%')
          span.sr-only 60% Complete (Orange)
    
      .progress
        .progress-bar.progress-bar-red(role='progressbar', style='width: 80%')
          span.sr-only 80% Complete (Red)

      .progress
        .progress-bar.progress-bar-amethyst(role='progressbar', style='width: 35%')
          span.sr-only 35% Complete (Amethyst)

      .progress
        .progress-bar.progress-bar-gray(role='progressbar', style='width: 51%')
          span.sr-only 51% Complete (Gray)

  .tile.tile-white
    .tile-header
      h3 Striped Progress
      .tile-widgets
        a.refresh
          i.fa.fa-refresh
        span.divider
        a.remove
          i.fa.fa-times

    .tile-body
      .progress.progress-striped
        .progress-bar.progress-bar-green(role='progressbar', style='width: 40%')
          span.sr-only 40% Complete (Green)

      .progress.progress-striped
        .progress-bar.progress-bar-cyan(role='progressbar', style='width: 20%')
          span.sr-only 20% Complete (Cyan)
      
      .progress.progress-striped
        .progress-bar.progress-bar-orange(role='progressbar', style='width: 60%')
          span.sr-only 60% Complete (Orange)
    
      .progress.progress-striped
        .progress-bar.progress-bar-red(role='progressbar', style='width: 80%')
          span.sr-only 80% Complete (Red)

      .progress.progress-striped
        .progress-bar.progress-bar-amethyst(role='progressbar', style='width: 35%')
          span.sr-only 35% Complete (Amethyst)

      .progress.progress-striped
        .progress-bar.progress-bar-gray(role='progressbar', style='width: 51%')
          span.sr-only 51% Complete (Gray)

  .tile.tile-white
    .tile-header
      h3 Animated Progress
      .tile-widgets
        a.refresh
          i.fa.fa-refresh
        span.divider
        a.remove
          i.fa.fa-times

    .tile-body
      .progress.progress-striped.active
        .progress-bar.progress-bar-green(role='progressbar', style='width: 40%')
          span.sr-only 40% Complete (Green)

      .progress.progress-striped.active
        .progress-bar.progress-bar-cyan(role='progressbar', style='width: 20%')
          span.sr-only 20% Complete (Cyan)
      
      .progress.progress-striped.active
        .progress-bar.progress-bar-orange(role='progressbar', style='width: 60%')
          span.sr-only 60% Complete (Orange)
    
      .progress.progress-striped.active
        .progress-bar.progress-bar-red(role='progressbar', style='width: 80%')
          span.sr-only 80% Complete (Red)

      .progress.progress-striped.active
        .progress-bar.progress-bar-amethyst(role='progressbar', style='width: 35%')
          span.sr-only 35% Complete (Amethyst)

      .progress.progress-striped.active
        .progress-bar.progress-bar-gray(role='progressbar', style='width: 51%')
          span.sr-only 51% Complete (Gray)

  .tile.tile-white
    .tile-header
      h3 Stacked Progress
      .tile-widgets
        a.refresh
          i.fa.fa-refresh
        span.divider
        a.remove
          i.fa.fa-times

    .tile-body
      .progress.progress-striped.active
        .progress-bar.progress-bar-green(role='progressbar', style='width: 40%')
          span.sr-only 40% Complete (Green)

        .progress-bar.progress-bar-cyan(role='progressbar', style='width: 20%')
          span.sr-only 20% Complete (Cyan)
      
        .progress-bar.progress-bar-amethyst(role='progressbar', style='width: 35%')
          span.sr-only 35% Complete (Amethyst)
  
  .notification.notification-green
    h4 Bootstrap Progress Style
    p
      | Check&nbsp;
      a(href='http://getbootstrap.com/components/#progress', target='_blank') Bootstrap Site
      | &nbsp;for progress.
