

.scroll-wrapper(ng-class="{ 'open': show }")
  .scroll-rails.scroll-horizontal.scroll-left
    .scroll-bar(ng-style="{ 'height': shp * 100 + '%', 'top': syp * 100 + '%' }")

  .wrapper(ng-transclude)