

aside#chatbar-container(ng-controller="Chat")
  ul.nav.nav-tabs.nav-justified
    li.active
      a(title="Contact")
        i.fa.fa-users
    li
      a(title="Recent")
        i.fa.fa-clock-o
    li
      a(title="Setting")
        i.fa.fa-gear

  .tab-content
    .tab-pane.active
      .search-chat
        input(type="search", placeholder="Search Users...")

      .user-chat
        ul.user-chat-list
          li
            a.online
              .media
                span.pull-left.media-thumb
                  img.media-object(src="http://gravatar.duoshuo.com/avatar/4ae64573bf8a8f5bcf2a3654715b1c3a?s=50")

                .media-body
                  span.light
                  strong Eileen Sideways
          li
            a.online
              .media
                span.pull-left.media-thumb
                  img.media-object(src="http://gravatar.duoshuo.com/avatar/4ae64573bf8a8f5bcf2a3654715b1c3a?s=50")

                .media-body
                  span.light
                  strong Eileen Sideways
          li
            a
              .media
                span.pull-left.media-thumb
                  img.media-object(src="http://gravatar.duoshuo.com/avatar/4ae64573bf8a8f5bcf2a3654715b1c3a?s=50")

                .media-body
                  span.light
                  strong Eileen Sideways
          li
            a
              .media
                span.pull-left.media-thumb
                  img.media-object(src="http://gravatar.duoshuo.com/avatar/4ae64573bf8a8f5bcf2a3654715b1c3a?s=50")

                .media-body
                  span.light
                  strong Eileen Sideways
          li
            a
              .media
                span.pull-left.media-thumb
                  img.media-object(src="http://gravatar.duoshuo.com/avatar/4ae64573bf8a8f5bcf2a3654715b1c3a?s=50")

                .media-body
                  span.light
                  strong Eileen Sideways
          li
            a
              .media
                span.pull-left.media-thumb
                  img.media-object(src="http://gravatar.duoshuo.com/avatar/4ae64573bf8a8f5bcf2a3654715b1c3a?s=50")

                .media-body
                  span.light
                  strong Eileen Sideways
          li
            a
              .media
                span.pull-left.media-thumb
                  img.media-object(src="http://gravatar.duoshuo.com/avatar/4ae64573bf8a8f5bcf2a3654715b1c3a?s=50")

                .media-body
                  span.light
                  strong Eileen Sideways

    .tab-pane
      .user-chat
        ul.user-chat-list
          li
            a.online
              .media
                span.pull-left.media-thumb
                  img.media-object(src="http://gravatar.duoshuo.com/avatar/4ae64573bf8a8f5bcf2a3654715b1c3a?s=50")

                .media-body
                  span.light
                  strong Eileen Sideways
          li
            a.online
              .media
                span.pull-left.media-thumb
                  img.media-object(src="http://gravatar.duoshuo.com/avatar/4ae64573bf8a8f5bcf2a3654715b1c3a?s=50")

                .media-body
                  span.light
                  strong Eileen Sideways
          li
            a
              .media
                span.pull-left.media-thumb
                  img.media-object(src="http://gravatar.duoshuo.com/avatar/4ae64573bf8a8f5bcf2a3654715b1c3a?s=50")

                .media-body
                  span.light
                  strong Eileen Sideways
          li
            a
              .media
                span.pull-left.media-thumb
                  img.media-object(src="http://gravatar.duoshuo.com/avatar/4ae64573bf8a8f5bcf2a3654715b1c3a?s=50")

                .media-body
                  span.light
                  strong Eileen Sideways
          li
            a
              .media
                span.pull-left.media-thumb
                  img.media-object(src="http://gravatar.duoshuo.com/avatar/4ae64573bf8a8f5bcf2a3654715b1c3a?s=50")

                .media-body
                  span.light
                  strong Eileen Sideways
          li
            a
              .media
                span.pull-left.media-thumb
                  img.media-object(src="http://gravatar.duoshuo.com/avatar/4ae64573bf8a8f5bcf2a3654715b1c3a?s=50")

                .media-body
                  span.light
                  strong Eileen Sideways
          li
            a
              .media
                span.pull-left.media-thumb
                  img.media-object(src="http://gravatar.duoshuo.com/avatar/4ae64573bf8a8f5bcf2a3654715b1c3a?s=50")

                .media-body
                  span.light
                  strong Eileen Sideways

    .tab-pane
      .setting-chat
        ul.setting-chat-list
          li
            .toggle
              .onoffswitch
                label.onoffswitch-label.checked
                  .onoffswitch-inner
                  .onoffswitch-switch
            label Show Offline Users

          li
            .toggle
              .onoffswitch
                label.onoffswitch-label.checked
                  .onoffswitch-inner
                  .onoffswitch-switch
            label Enable History
          
          li
            .toggle
              .onoffswitch
                label.onoffswitch-label
                  .onoffswitch-inner
                  .onoffswitch-switch
            label Show Full Name
          
          li
            .toggle
              .onoffswitch
                label.onoffswitch-label
                  .onoffswitch-inner
                  .onoffswitch-switch
            label Show Location