

title= name
meta(charset="utf-8")
meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
meta(http-equiv="X-UA-Compatible", content="IE=edge")
meta(name="viewport", content="width=device-width, initial-scale=1.0")
meta(name="description", value= pkg.description)
meta(name="keywords", value= pkg.keywords)

//- lt icons
link(href="/assets/ico/apple-touch-icon-144-precomposed.png", sizes="144x144", rel="apple-touch-icon-precomposed")
link(href="/assets/ico/apple-touch-icon-64-precomposed.png", sizes="64x64", rel="apple-touch-icon-precomposed")
link(href="/assets/ico/apple-touch-icon-32-precomposed.png", sizes="32x32", rel="apple-touch-icon-precomposed")
link(href="/assets/ico/favicon.ico", rel="shortcut icon")

//- lt styles
link(href= makeVersion("/assets/css/bootstrap.min.css"), rel="stylesheet", media="screen")
link(href= makeVersion("/assets/css/font-awesome.min.css"), rel="stylesheet", media="screen")
link(href= makeVersion("/assets/css/ngAdmin.css"), rel="stylesheet", media="screen")

//- lt scripts
script(src= makeVersion("/scripts/pace.min.js"), async)
script(src= makeVersion("/scripts/jquery.min.js"), async)
script(src= makeVersion("/scripts/highcharts.min.js"), async)
script(src= makeVersion("/scripts/require.js"))

script(src= makeVersion("/scripts/angular.min.js"), defer)
script(src= makeVersion("/scripts/angular-route.min.js"), defer)
script(src= makeVersion("/scripts/angular-touch.min.js"), defer)
script(src= makeVersion("/scripts/angular-ui-bootstrap.min.js"), defer)
script(src= makeVersion("/scripts/highcharts-ng.min.js"), defer)
script(src= makeVersion("/scripts/ngAdmin.js"), defer)