

script(id="template/carousel/carousel.html", type="text/ng-template")
	.carousel(ng-mouseenter="pause()", ng-mouseleave="play()")
		ol.carousel-indicators(ng-show="slides().length > 1")
			li(ng-repeat="slide in slides()", ng-class="{active: isActive(slide)}", ng-click="select(slide)")
		
		.carousel-inner(ng-transclude="")
			a.left.carousel-control(ng-click="prev()", ng-show="slides().length > 1")
				span.icon-prev
			a.right.carousel-control(ng-click="next()", ng-show="slides().length > 1")
				span.icon-next