doctype html
html(ng-app="index", lang="en-US")
  head
    title Index | ngAdmin
    include ../partial/head

  body.fixed-left.slide-right.fixed-layout
    .container-layout
      fixedbar.fixedbar-left-layout
        include ../partial/navigation

      main.main-layout
        include ../partial/header
        ng-view.viewport-layout

      slidebar.slidebar-right-layout
        include ../partial/chatbar