

#iscroll-container.content-layout
  iscroll(left)
    - for (var i = 0; i < 1000; i ++)
      blockquote
        p
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
        small
          | Someone famous in
          cite(title='Source Title') Source Title