

#modals-container.content-layout
  h2 Modals Triggering
  .panel
    .panel-heading
      .panel-title
        h5 Modals Examples
      .panel-widgets
        a
          i.fa.fa-chevron-down

    .panel-collapse.in
      .panel-body.bs-example
        button.btn.btn-primary(type="button", role="button") Modal Basic
        button.btn.btn-success(type="button", role="button") Modal Confirm
                