

main#navbars-container.content-layout
  h2 Navbars
  nav.navbar(role="navigation")
    .container-fluid
      .navbar-header
        button.navbar-toggle(type="button")
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(href="#") Brand

      .collapse.navbar-collapse
        ul.nav.navbar-nav
          li.active
            a(href="#") Link
          li.disabled
            a(href="#") Link
          li.dropdown
            a.dropdown-toggle(href="#")
              | Dropdown
              span.caret
            ul.dropdown-menu(role="menu")
              li
                a(href="#") Action
              li
                a(href="#") Another action
              li
                a(href="#") Something else here
              li.divider
              li
                a(href="#") Separated link
              li.divider
              li
                a(href="#") One more separated link

        form.navbar-form.navbar-left(role="search")
          .form-group
            input.form-control(type="text", placeholder="Search")
          | &nbsp;
          button.btn.btn-default(type="submit") Submit

        ul.nav.navbar-nav.navbar-right
          li
            a(href="#") Link
          li.dropdown
            a.dropdown-toggle(href="#")
              | Dropdown
              span.caret
            ul.dropdown-menu(role="menu")
              li
                a(href="#") Action
              li
                a(href="#") Another action
              li
                a(href="#") Something else here
              li.divider
              li
                a(href="#") Separated link

  nav.navbar.navbar-black(role="navigation")
    .container-fluid
      .navbar-header
        button.navbar-toggle(type="button")
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(href="#") Brand

      .collapse.navbar-collapse
        ul.nav.navbar-nav
          li.active
            a(href="#") Link
          li.disabled
            a(href="#") Link
          li.dropdown
            a.dropdown-toggle(href="#")
              | Dropdown
              span.caret
            ul.dropdown-menu(role="menu")
              li
                a(href="#") Action
              li
                a(href="#") Another action
              li
                a(href="#") Something else here
              li.divider
              li
                a(href="#") Separated link
              li.divider
              li
                a(href="#") One more separated link

        form.navbar-form.navbar-left(role="search")
          .form-group
            input.form-control(type="text", placeholder="Search")
          | &nbsp;
          button.btn.btn-default(type="submit") Submit

        ul.nav.navbar-nav.navbar-right
          li
            a(href="#") Link
          li.dropdown
            a.dropdown-toggle(href="#")
              | Dropdown
              span.caret
            ul.dropdown-menu(role="menu")
              li
                a(href="#") Action
              li
                a(href="#") Another action
              li
                a(href="#") Something else here
              li.divider
              li
                a(href="#") Separated link

  nav.navbar.navbar-green(role="navigation")
    .container-fluid
      .navbar-header
        button.navbar-toggle(type="button")
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(href="#") Brand

      .collapse.navbar-collapse
        ul.nav.navbar-nav
          li.active
            a(href="#") Link
          li.disabled
            a(href="#") Link
          li.dropdown
            a.dropdown-toggle(href="#")
              | Dropdown
              span.caret
            ul.dropdown-menu(role="menu")
              li
                a(href="#") Action
              li
                a(href="#") Another action
              li
                a(href="#") Something else here
              li.divider
              li
                a(href="#") Separated link
              li.divider
              li
                a(href="#") One more separated link

        form.navbar-form.navbar-left(role="search")
          .form-group
            input.form-control(type="text", placeholder="Search")
          | &nbsp;
          button.btn.btn-default(type="submit") Submit

        ul.nav.navbar-nav.navbar-right
          li
            a(href="#") Link
          li.dropdown
            a.dropdown-toggle(href="#")
              | Dropdown
              span.caret
            ul.dropdown-menu(role="menu")
              li
                a(href="#") Action
              li
                a(href="#") Another action
              li
                a(href="#") Something else here
              li.divider
              li
                a(href="#") Separated link
