

ng-scroll
  #ngscroll-container.content-layout
    h2 ngScroll
    br
    - for (var i = 0; i < 100; i ++)
      .row
        .col-md-6
          .alert.alert-success
            strong ngScroll&nbsp;
            | is not iscroll.

        .col-md-6
          .alert.alert-info
            strong If you need more functions,
            | you can import and use&nbsp;
            a(href="http://cubiq.org/iscroll-5") iscroll

      .row
        .col-md-6
          .alert.alert-warning
            strong ngScroll&nbsp;
            | ngScroll is only use css3 attributes.

        .col-md-6
          .alert.alert-danger
            strong ngScroll&nbsp;
            | It can not be fully compatible with all browsers.