doctype html
html(ng-app="index", lang="en-US")
  head
    title Index | ngAdmin
    include ../partial/head

  body.fixed-layout
    .container-layout
      .sidebar-left-layout(ng-controller="Layout.LeftSidebar")
        include ../partial/navigation

      .main-layout
        include ../partial/header
        ng-view.viewport-layout

      .sidebar-right-layout(ng-controller="Layout.RightSidebar")
        include ../partial/chatbar