

selectpicker
  .selectpicker(dropdown-menu)
    a.dropdown-toggle(dropdown-menu-toggle) {{ selected.text || selected.value || '' }}
    .dropdown-menu(dropdown-menu-dialog)
      .filter-bar
        i.fa.fa-search
        input.form-control(dropdown-menu-filter, type="search", placeholder="Search...")

      ul.menu-list(dropdown-menu-list)
        li(ng-repeat="item in options")
          a(ng-click="select(item.value)", title="item.text") {{ item.text }}
