// Header
// @author <David Jones qowera@qq.com>

.container-layout {
  .clearfix();

  width: 100%;
  overflow-x: hidden;

  .main-layout {
    position: relative;
    width: 100%;
    .transition(all .25s ease);

    .content-layout {
      padding: 0 15px;
    }
  }
}


// Aside
// ===========================

.container-layout {
  .aside-layout {
    display: block;
    position: absolute;
    top: 0;
    z-index: 4;
    .clearfix();
    height: 100%;
    .transition(transform .25s ease);
  }

  .aside-layout.fixed-layout {
    position: fixed;
  }
}

.fixed-layout {
  &,
  .container-layout,
  .container-layout .main-layout,
  .container-layout .main-layout .viewport-layout {
    height: 100%;
    display: block;
    overflow-y: hidden;
  }

  .container-layout .main-layout {
    .transition(all .25s ease);
  }

  .container-layout .main-layout .content-layout {
    height: 100%;
    overflow-y: auto;
  }
}