

#kitchen-page,
#kitchen-page .container-layout,
#kitchen-page .container-layout .main-layout { height: 100%; }

#kitchen-container {
  margin-top: -75px;
  padding-top: 75px !important;
  border-top: 1px solid #eee;
  overflow: hidden;
  height: 100%;
}

#kitchen-container ul.nav-bar {
  .clearfix();
  
  margin-bottom: 0;
  padding-left: 0;
  height: 50px;
  position: relative;
  z-index: 1;
  list-style-type: none;

  & > li {
    float: left;
    width: percentage(1/3);
    height: 100%;
    display: inline-block;
  }

  & > li > a {
    .transition(border-bottom-color .15s, color .15s);

    width: 100%;
    height: 50px;
    background-color: #fff;
    border-bottom: 4px solid transparent;
    display: inline-block;
    cursor: pointer;
    line-height: 50px;
    text-align: center;
    font-weight: bolder;
  }

  & > li.active a,
  & > li > a:hover { color: @green; }
}

#kitchen-container ul.nav-bar .slider {
  height: 4px;
  width: percentage(1/3);
  background-color: @green;
  display: block;
  position: absolute;
  bottom: 0;
}

#kitchen-container ul.nav-bar .slider.move { .transition(left .25s); }

#kitchen-container .wrapper {
  margin-top: -50px;
  padding-top: 50px;
  width: 300%;
  height: 100%;
  position: relative;
  left: 0;
}

#kitchen-container .wrapper.move { .transition(left .25s); }
#kitchen-container .production-module {
  width: percentage(1/3);
  height: 100%;
  min-height: 1px;
  position: relative;
  float: left;
}

#kitchen-container .production-module .list {
  height: 100%;
  overflow-y: auto;
}

#kitchen-container .no-data {
  padding-top: 100px;
  height: 100%;
  text-align: center;
  font-size: 24px;
  font-family: @caption-font-family;

  span { font-family: @font-family-sans-serif; }
}

#kitchen-container .product-order {
  .clearfix();

  background-color: #fff;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;

  & > .header {
    .background-image(linear-gradient(#fff, #fafafa));
    .clearfix();

    padding: 4px 10px;
    padding-right: 30px;
    position: relative;
    font-size: 12px;
  }
  
  & > .header > .address {
    .text-overflow();
  }

  & > .header > .time { float: right; color: #999; }
  & > .header > .widgets-bar {
    display: inline-block;
    position: absolute;
    right: 10px;
    top: 4px;
    z-index: 99;

    & > a { cursor: pointer; font-size: 12px; }
    & > a > i { color: inherit; }
  }
}

#kitchen-container .product.notice-bar {
  .user-select(none);
  .transition(background-color .35s);

  height: 60px;
  background-color: #fdfdfd;
  position: relative;
  overflow: hidden;
  cursor: default;
  
  &:hover { background-color: #fff; }
}

#kitchen-container .product.notice-bar > .product-pic {
  margin-right: 10px;
  width: 60px;
  height: 60px;
  display: inline-block;
  float: left;
  text-align: center;
  line-height: 60px;

  img {
    margin: 0 auto;
    max-width: 100%;
    max-height: 100%;
    display: block;
  }
}

#kitchen-container .product.notice-bar > .product-inner {
  padding: 15px;
  height: 59px;
  border-top: 1px solid #eee;

  .title {
    .text-overflow();
    margin: 0;
    font-size: 15px;
  }

  .number {
    font-weight: bold;

    &:before {
      content: '×';
      font-weight: normal;
    }
  }
}

#kitchen-container .package-submit {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 60px;
  border-width: 0;
  background-color: @cyan;
  display: block;
  line-height: 60px;
  text-align: center;
  color: #fff;
  font-size: 20px;

  &[disabled] { background-color: @gray; }
}

#kitchen-container .order.notice-bar > .order-select {
  .transition(all .35s);

  margin-right: 10px;
  width: 60px;
  height: 60px;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
  display: inline-block;
  cursor: pointer;
  float: left;
  text-align: center;
  line-height: 60px;
  text-shadow: 2px 0 0 @cyan, -2px 0 0 @cyan, 0 2px 0 @cyan, 0 -2px 0 @cyan, 1px 1px @cyan, -1px -1px 0 @cyan, 1px -1px 0 @cyan, -1px 1px 0 @cyan;
  color: #fff;
  font-size: 22px;
}

#kitchen-container .order.notice-bar:last-child .order-select { border-bottom-width: 0; }

#kitchen-container .order.notice-bar.selected > .order-select {
  text-shadow: none;
  color: @cyan;
}

#kitchen-container .order.notice-bar > .order-inner {
  padding: 10px 15px;
  height: 60px;
  border-top: 1px solid #eee;

  .address,
  .time { .text-overflow(); }

  .time { color: #999; }
}