

title= name
meta(charset="utf-8")
meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
meta(http-equiv="X-UA-Compatible", content="IE=edge")
meta(name="viewport", content="width=device-width, initial-scale=1.0")
meta(name="version", value= pkg.version)
meta(name="description", value= pkg.description)
meta(name="keywords", value= pkg.keywords)
meta(name="author", value= pkg.author.name)
meta(name="profile", value= pkg.author.profile)
meta(name="blog", value= pkg.author.blog)
meta(name="updateTime", value= updateTime)

//- lt icons
link(href="/assets/ico/apple-touch-icon-144-precomposed.png", sizes="144x144", rel="apple-touch-icon-precomposed")
link(href="/assets/ico/apple-touch-icon-64-precomposed.png", sizes="64x64", rel="apple-touch-icon-precomposed")
link(href="/assets/ico/apple-touch-icon-32-precomposed.png", sizes="32x32", rel="apple-touch-icon-precomposed")
link(href="/assets/ico/favicon.png", rel="shortcut icon")

//- lt styles
link(href="/assets/css/bootstrap.css", rel="stylesheet", media="screen", type="text/css", charset="utf-8")
link(href="/assets/css/font-awesome.css", rel="stylesheet", media="screen", type="text/css", charset="utf-8")
link(href="/assets/css/app.css", rel="stylesheet", media="screen", type="text/css", charset="utf-8")

//- lt scripts
script(src="/scripts/libs/angular.js", type="text/javascript", charset="utf-8")
script(src="/scripts/libs/angular-route.js", type="text/javascript", charset="utf-8")
script(src="/scripts/libs/angular-touch.js", type="text/javascript", charset="utf-8")
script(src="/scripts/libs/angular-ui-bootstrap.js", type="text/javascript", charset="utf-8")
script(src="/scripts/ui.js", type="text/javascript", charset="utf-8")
script(src="/scripts/app.js", type="text/javascript", charset="utf-8")
script(src="/scripts/libs/pace.js", type="text/javascript", charset="utf-8")

// if lt IE 9
	script(src="/scripts/libs/modernizr.js", type="text/javascript", charset="utf-8")
	script(src="/scripts/libs/css3-mediaqueries.js", type="text/javascript", charset="utf-8")
	script(src="/scripts/libs/html5.js", type="text/javascript", charset="utf-8")
	script(src="/scripts/libs/respond.js", type="text/javascript", charset="utf-8")
