include mixins/panel

.content-layout
  section#badge-label-container
    h3 Badges &amp; Labels
    br

    table.table.table-bordered
      thead
        tr
          th(width='50%') Badges
          th Squared Badges
      tbody
        tr
          td.padding-lg
            .docs-example
              p
                a
                  span.badge 1
                  | &nbsp;Default
              p
                a
                  span.badge.badge-primary 2
                  | &nbsp;Primary
              p
                a
                  span.badge.badge-success 3
                  | &nbsp;Success
              p
                a
                  span.badge.badge-info 4
                  | &nbsp;Info
              p
                a
                  span.badge.badge-warning 5
                  | &nbsp;Warning
              p
                a
                  span.badge.badge-danger 6
                  | &nbsp;Danger

          td.padding-lg
            .docs-example
              p
                a
                  span.badge.badge-square 1
                  | &nbsp;Default
              p
                a
                  span.badge.badge-square.badge-primary 2
                  | &nbsp;Primary
              p
                a
                  span.badge.badge-square.badge-success 3
                  | &nbsp;Success
              p
                a
                  span.badge.badge-square.badge-info 4
                  | &nbsp;Info
              p
                a
                  span.badge.badge-square.badge-warning 5
                  | &nbsp;Warning
              p
                a
                  span.badge.badge-square.badge-danger 6
                  | &nbsp;Danger

    table.table.table-bordered
      thead
        tr
          th Labels
      tbody
        tr
          td.padding-lg
            .docs-example
              .label Default
              | &nbsp;
              .label.label-primary Primary
              | &nbsp;
              .label.label-success Success
              | &nbsp;
              .label.label-info Info
              | &nbsp;
              .label.label-warning Warning
              | &nbsp;
              .label.label-danger Danger
