include mixins/panel

.content-layout.clearfix
  section#basic-table-container
    h2 Basic Tables

    .row
      .col-md-6
        h4 Simple Table
        table.table
          thead
            tr
              th #
              th Name
              th Address
          tbody
            tr
              td 1
              td Arlind
              td Nushi
            tr
              td 2
              td Art
              td Ramadani
            tr
              td 3
              td Filan
              td Fisteku

      .col-md-6
        h4 Striped Rows
        table.table.table-striped
          thead
            tr
              th #
              th Name
              th Address
          tbody
            tr
              td 1
              td Arlind
              td Nushi
            tr
              td 2
              td Art
              td Ramadani
            tr
              td 3
              td Filan
              td Fisteku

      .col-md-6
        h4 Hover Rows
        table.table.table-hover
          thead
            tr
              th #
              th Name
              th Address
          tbody
            tr
              td 1
              td Arlind
              td Nushi
            tr
              td 2
              td Art
              td Ramadani
            tr
              td 3
              td Filan
              td Fisteku

      .col-md-6
        h4 Bordered Tables
        table.table.table-bordered
          thead
            tr
              th #
              th Name
              th Address
          tbody
            tr
              td 1
              td Arlind
              td Nushi
            tr
              td 2
              td Art
              td Ramadani
            tr
              td 3
              td Filan
              td Fisteku

      .col-md-6
        h4 Condensed Table
        table.table.table-condensed
          thead
            tr
              th #
              th Name
              th Address
          tbody
            tr
              td 1
              td Arlind
              td Nushi
            tr
              td 2
              td Art
              td Ramadani
            tr
              td 3
              td Filan
              td Fisteku

      .col-md-6
        h4 Mix of all these classes
        table.table.table-condensed.table-bordered.table-hover.table-striped
          thead
            tr
              th #
              th Name
              th Address
          tbody
            tr
              td 1
              td Arlind
              td Nushi
            tr
              td 2
              td Art
              td Ramadani
            tr
              td 3
              td Filan
              td Fisteku
    
    .row
      .col-md-12
        h4 Table inside panel
        table.table.table-bordered
          thead
            tr
              th #
              th Name
              th Address
              th Progress
          tbody
            tr
              td 1
              td Arlind
              td Nushi
              td
                .progress
                  .progress-bar.progress-bar-info(role='progressbar', aria-valuenow='20', aria-valuemin='0', aria-valuemax='100', style='width: 20%')
                    span.sr-only 20% Complete
            tr
              td 2
              td Art
              td Ramadani
              td
                .progress
                  .progress-bar.progress-bar-danger(role='progressbar', aria-valuenow='92', aria-valuemin='0', aria-valuemax='100', style='width: 92%')
                    span.sr-only 92% Complete
            tr
              td 3
              td Filan
              td Fisteku
              td
                .progress
                  .progress-bar.progress-bar-warning(role='progressbar', aria-valuenow='70', aria-valuemin='0', aria-valuemax='100', style='width: 70%')
                    span.sr-only 70% Complete

      .col-md-12
        h4 Responsive Table
        .table-compress
          .table-header
            table.table.table-bordered
              thead
                tr
                  th.hidden-xs(width='15%') #
                  th First name
                  th Last name
                  th ZIP
                  th(width='33%') Country

          .table-body
            table.table.table-bordered
              tbody
                tr
                  td.hidden-xs(width='15%') 65
                  td Dillon
                  td Garcia
                  td 13652
                  td(width='33%') Holy See (Vatican City State)
                tr
                  td.hidden-xs 66
                  td Russell
                  td Sweeney
                  td T8P 2O6
                  td Saint Kitts and Nevis
                tr
                  td.hidden-xs 67
                  td Zelda
                  td Berg
                  td 84946
                  td Afghanistan
                tr
                  td.hidden-xs 68
                  td Dexter
                  td Mann
                  td 73596
                  td Thailand
                tr
                  td.hidden-xs 69
                  td Maisie
                  td Miller
                  td X3M 6C1
                  td Seychelles
                tr
                  td.hidden-xs 70
                  td Lynn
                  td Mitchell
                  td N5B 3Z9
                  td Wallis and Futuna
                tr
                  td.hidden-xs 71
                  td Gay
                  td Medina
                  td 66692
                  td Germany
                tr
                  td.hidden-xs 72
                  td Olga
                  td Clark
                  td M6B 7B6
                  td Kuwait
                tr
                  td.hidden-xs 73
                  td Brianna
                  td Obrien
                  td Z6Z 5R3
                  td Bahrain
                tr
                  td.hidden-xs 74
                  td Daria
                  td Byers
                  td R9T 4N7
                  td Ghana
                tr
                  td.hidden-xs 75
                  td Chiquita
                  td Barker
                  td 28435
                  td Ireland
                tr
                  td.hidden-xs 76
                  td Gray
                  td Salazar
                  td 58618
                  td Chile
                tr
                  td.hidden-xs 77
                  td Delilah
                  td Kirby
                  td 42811
                  td Oman
                tr
                  td.hidden-xs 78
                  td Xanthus
                  td Holland
                  td B8Q 9C4
                  td Antigua and Barbuda
                tr
                  td.hidden-xs 79
                  td Reuben
                  td Brennan
                  td 44693
                  td Czech Republic
                tr
                  td.hidden-xs 80
                  td Alden
                  td Long
                  td 94236
                  td Slovakia
                tr
                  td.hidden-xs 81
                  td Blythe
                  td Bender
                  td 04812
                  td Guam
                tr
                  td.hidden-xs 82
                  td Aileen
                  td Burgess
                  td 47942
                  td Djibouti
                tr
                  td.hidden-xs 83
                  td Zeus
                  td Craig
                  td 43002
                  td Nicaragua
                tr
                  td.hidden-xs 84
                  td Jade
                  td Garza
                  td F2X 8F3
                  td New Zealand
                tr
                  td.hidden-xs 85
                  td Noah
                  td Barrera
                  td K9C 8U0
                  td Malawi
                tr
                  td.hidden-xs 86
                  td Quyn
                  td Robertson
                  td H3X 6J9
                  td Bosnia and Herzegovina
                tr
                  td.hidden-xs 87
                  td Serena
                  td Cabrera
                  td 83671
                  td Slovenia
                tr
                  td.hidden-xs 88
                  td Charity
                  td Chase
                  td T9Q 7C4
                  td Solomon Islands
                tr
                  td.hidden-xs 89
                  td Athena
                  td Grimes
                  td 62801
                  td Aruba
                tr
                  td.hidden-xs 90
                  td Mallory
                  td Middleton
                  td D2V 1M5
                  td Italy
                tr
                  td.hidden-xs 91
                  td Xenos
                  td Jones
                  td 46642
                  td Singapore
                tr
                  td.hidden-xs 92
                  td Tate
                  td Gregory
                  td 66538
                  td Zimbabwe
                tr
                  td.hidden-xs 93
                  td Blaze
                  td Taylor
                  td 70282
                  td Paraguay
                tr
                  td.hidden-xs 94
                  td Jena
                  td Duncan
                  td 63057
                  td Cambodia
                tr
                  td.hidden-xs 95
                  td Thaddeus
                  td Chase
                  td 66762
                  td Netherlands Antilles
