include mixins/panel

.content-layout
  section#buttons-container
    h3 Buttons
    br

    +panel('Buttons Variations')
      mixin body
        .docs-example
          h4 Variations
          button.btn(type='button', role='button') Default
          button.btn.btn-primary(type='button', role='button') Primary
          button.btn.btn-success(type='button', role='button') Success
          button.btn.btn-info(type='button', role='button') Info
          button.btn.btn-warning(type='button', role='button') Warning
          button.btn.btn-danger(type='button', role='button') Danger
          hr

          h4 Disabled State
          button.btn(type='button', role='button', disabled) Default
          button.btn.btn-primary(type='button', role='button', disabled) Primary
          button.btn.btn-success(type='button', role='button', disabled) Success
          button.btn.btn-info(type='button', role='button', disabled) Info
          button.btn.btn-warning(type='button', role='button', disabled) Warning
          button.btn.btn-danger(type='button', role='button', disabled) Danger
          hr

          h4 Pure State
          button.btn.btn-purity(type='button', role='button') Default
          button.btn.btn-primary.btn-purity(type='button', role='button') Primary
          button.btn.btn-success.btn-purity(type='button', role='button') Success
          button.btn.btn-info.btn-purity(type='button', role='button') Info
          button.btn.btn-warning.btn-purity(type='button', role='button') Warning
          button.btn.btn-danger.btn-purity(type='button', role='button') Danger
          hr

          h4 Squared State
          button.btn.btn-square(type='button', role='button') Default
          button.btn.btn-primary.btn-square(type='button', role='button') Primary
          button.btn.btn-success.btn-square(type='button', role='button') Success
          button.btn.btn-info.btn-square(type='button', role='button') Info
          button.btn.btn-warning.btn-square(type='button', role='button') Warning
          button.btn.btn-danger.btn-square(type='button', role='button') Danger
          hr

          h4 Mini State
          button.btn.btn-purity.btn-mini(type='button', role='button') Default
          button.btn.btn-primary.btn-purity.btn-mini(type='button', role='button') Primary
          button.btn.btn-success.btn-purity.btn-mini(type='button', role='button') Success
          button.btn.btn-info.btn-purity.btn-mini(type='button', role='button') Info
          button.btn.btn-warning.btn-purity.btn-mini(type='button', role='button') Warning
          button.btn.btn-danger.btn-purity.btn-mini(type='button', role='button') Danger
          hr

          h4 Sizes
          p
            button.btn.btn-square.btn-primary.btn-lg(type='button', role='button') Large
            button.btn.btn-square.btn-success.btn-md(type='button', role='button') Normal
            button.btn.btn-square.btn-info.btn-sm(type='button', role='button') Small
            button.btn.btn-square.btn-warning.btn-xs(type='button', role='button') Extra Small

          h4 Block Buttons
          button.btn.btn-primary.btn-block(type='button', role='button') Block 1
          button.btn.btn-success.btn-block(type='button', role='button') Block 2
          button.btn.btn-danger.btn-block(type='button', role='button') Block 3

    +panel('Button Groups')
      mixin body
        .docs-example
          h4 Button Group Basic
          .btn-group
            button.btn.btn-primary.btn-lg(type='button', role='button') 1
            button.btn.btn-primary.btn-lg(type='button', role='button') 2
            button.btn.btn-primary.btn-lg(type='button', role='button') 3

          .btn-group
            button.btn.btn-success.btn-md(type='button', role='button') 1
            button.btn.btn-success.btn-md(type='button', role='button') 2
            button.btn.btn-success.btn-md(type='button', role='button') 3

          .btn-group
            button.btn.btn-info.btn-sm(type='button', role='button') 1
            button.btn.btn-info.btn-sm(type='button', role='button') 2
            button.btn.btn-info.btn-sm(type='button', role='button') 3

          .btn-group
            button.btn.btn-warning.btn-xs(type='button', role='button') 1
            button.btn.btn-warning.btn-xs(type='button', role='button') 2
            button.btn.btn-warning.btn-xs(type='button', role='button') 3
          hr

          h4 Single Button Dropdown
          .btn-group(dropdown-menu)
            button.btn.btn-primary(type='button', role='button') Dropdown&nbsp;
            button.btn.btn-primary.dropdown-toggle(dropdown-menu-toggle, type='button', role='button')
              i.fa.fa-caret-down

            ul.dropdown-menu(role='menu')
              li
                a(herf='#') Action
              li
                a(herf='#') Another action
              li
                a(herf='#') Something else here
              li.divider
              li
                a(herf='#') Separated link

          .btn-group(dropdown-menu)
            button.btn.btn-success(type='button', role='button') Action
            button.btn.btn-success.dropdown-toggle(dropdown-menu-toggle, type='button', role='button')
              i.fa.fa-info

            ul.dropdown-menu(role='menu')
              li
                a Action
              li
                a Another Action
              li
                a Something else here
              li.divider
              li
                a Separated link

          .btn-group(dropdown-menu)
            button.btn.btn-info(type='button', role='button') Download
            button.btn.btn-info.dropdown-toggle(dropdown-menu-toggle, type='button', role='button')
              i.fa.fa-download
            ul.dropdown-menu(role='menu')
              li
                a PSD Format
              li
                a Markdown Format
              li
                a HTML Format
              li.divider
              li
                a Add to download list
          hr

          h4 Button with Icons
          button.btn.btn-icon(type='button', role='button') Add
            i.fa.fa-plus
          button.btn.btn-primary.btn-icon(type='button', role='button') Send
            i.fa.fa-envelope
          button.btn.btn-success.btn-icon(type='button', role='button') Accept
            i.fa.fa-check
          button.btn.btn-info.btn-icon(type='button', role='button') Search
            i.fa.fa-search
          button.btn.btn-warning.btn-icon(type='button', role='button') Decline
            i.fa.fa-times
          button.btn.btn-danger.btn-icon(type='button', role='button') Delete
            i.fa.fa-trash-o
          hr

          h4 Button with Icons
          button.btn.btn-icon.icon-left(type='button', role='button') Add
            i.fa.fa-plus
          button.btn.btn-primary.btn-icon.icon-left(type='button', role='button') Send
            i.fa.fa-envelope
          button.btn.btn-success.btn-icon.icon-left(type='button', role='button') Accept
            i.fa.fa-check
          button.btn.btn-info.btn-icon.icon-left(type='button', role='button') Search
            i.fa.fa-search
          button.btn.btn-warning.btn-icon.icon-left(type='button', role='button') Decline
            i.fa.fa-times
          button.btn.btn-danger.btn-icon.icon-left(type='button', role='button') Delete
            i.fa.fa-trash-o
          hr

          h4 Icon Only
          button.btn.btn-purity(type='button', role='button')
            i.fa.fa-search
          button.btn.btn-purity.btn-primary(type='button', role='button')
            i.fa.fa-envelope
          button.btn.btn-purity.btn-success(type='button', role='button')
            i.fa.fa-check
          button.btn.btn-purity.btn-info(type='button', role='button')
            i.fa.fa-info
          button.btn.btn-purity.btn-warning(type='button', role='button')
            i.fa.fa-times
          button.btn.btn-purity.btn-danger(type='button', role='button')
            i.fa.fa-trash-o
          hr

          h4 Button Toggles - Toolbars
          .btn-group
            button.btn.btn-purity(type='button', role='button')
              i.fa.fa-align-justify
            button.btn.btn-purity(type='button', role='button')
              i.fa.fa-align-left
            button.btn.btn-purity(type='button', role='button')
              i.fa.fa-align-right
            button.btn.btn-purity(type='button', role='button')
              i.fa.fa-align-center

          .btn-group
            button.btn.btn-purity(type='button', role='button')
              i.fa.fa-font
            button.btn.btn-purity(type='button', role='button')
              i.fa.fa-align-left
            button.btn.btn-purity(type='button', role='button')
              i.fa.fa-italic
            button.btn.btn-purity(type='button', role='button')
              i.fa.fa-underline

          button.btn.btn-purity.btn-danger(type='button', role='button') Loading State
