include mixins/panel

.content-layout
  section#highcharts-content
    h3 Charts
    br

    +panel('Highcharts')
      mixin body
        .row
          .col-sm-6(ng-controller='AreaDemoChartController')
            highchart(config='chartConfig')
          .col-sm-6(ng-controller='LineDemoChartController')
            highchart(config='chartConfig')

          .col-sm-6(ng-controller='BarDemoChartController')
            highchart(config='chartConfig')
          .col-sm-6(ng-controller='ColumnDemoChartController')
            highchart(config='chartConfig')

          .col-sm-6(ng-controller='PieDemoChartController')
            highchart(config='chartConfig')
          .col-sm-6(ng-controller='ScatterDemoChartController')
            highchart(config='chartConfig')

    +panel('Morris Charts')
      mixin body
        table.table.table-bordered
          tbody
            tr
              td(ng-controller='AreaDemoChartController', style='width:33.333333%;')
                strong Donut Charts

              td(ng-controller='LineDemoChartController', style='width:33.333333%;')
                strong Colored

              td(ng-controller='BarDemoChartController', style='width:33.333333%;')
                strong Formatted

    .row
      .col-md-8
        +panel('Peity Charts')
          mixin body
            table.table.table-bordered
              thead
                tr
                  th(width='15%') Graph
                  th Data Type
                  th(width='30%') Total
              tbody
                tr
                  td
                    span.updating-chart(style='display: none;') 8,9,7,0,3,1,5,6,1,8,8,5,1,3,7,4,4,8,6,8
                    canvas.peity(height='16', width='150', style='height: 16px; width: 150px;')
                  td
                    | Realtime Stats - Currently Active Users
                  td
                    span.label.label-info Online
                    | &nbsp;
                    span#peity-right-now 8 users
                tr
                  td
                    span.line(style='display: none;') 3,5,1,6,2,1,1,6,7
                    canvas.peity(height='16', width='150', style='height: 16px; width: 150px;')
                  td
                    | Visits
                  td
                    | 16,436
                tr
                  td
                    span.line(style='display: none;') 2,4,4,1,2,3,1,1,2,6,5,1,7,8,4,2,3
                    canvas.peity(height='16', width='150', style='height: 16px; width: 150px;')
                  td
                    | Unique Visits
                  td
                    | 11,321
                tr
                  td
                    span.bar(style='display: none;') 5,3,9,6,5,9,7,3,5,2,7,3,2,9,10,6,4,9,7,8
                    canvas.peity(height='16', width='150', style='height: 16px; width: 150px;')
                  td Bounce Rate
                  td 35.42%
                tr
                  td
                    span.bar(style='display: none;') 4,5,1,6,7,7,3,2,9,10,6,4,9,7,1,3,9,10,12
                    canvas.peity(height='16', width='150', style='height: 16px; width: 150px;')
                  td
                    | New Visits&nbsp;
                    span.label.label-success 3.39% Increase
                  td 12.67%
                tr
                  td
                    span.pie(style='display: none;') 60.1,39.9
                    canvas.peity(height='25', width='150', style='height: 25px; width: 150px;')
                  td
                    | New Visitor vs Returning Visitor
                  td
                    | 60.1% / 39.9%
                tr
                  td
                    span.pie(style='display: none;') 84.6,15.4
                    canvas.peity(height='25', width='150', style='height: 25px; width: 150px;')
                  td
                    | Direct vs Referral
                  td
                    | 84.6% / 15.4%
