section#colors-container.content-layout.no-padding
  .blue.demo-color-block.col-sm-3.col-xs-6
    span BLUE
  .cyan.demo-color-block.col-sm-3.col-xs-6
    span CYAN
  .green.demo-color-block.col-sm-3.col-xs-6
    span GREEN
  .yellow.demo-color-block.col-sm-3.col-xs-6
    span YELLOW
  .orange.demo-color-block.col-sm-3.col-xs-6
    span ORANGE
  .red.demo-color-block.col-sm-3.col-xs-6
    span RED
  .pink.demo-color-block.col-sm-3.col-xs-6
    span PINK
  .amethyst.demo-color-block.col-sm-3.col-xs-6
    span AMETHYST
  .black.demo-color-block.col-sm-3.col-xs-6
    span BLACK
  .gray.demo-color-block.col-sm-3.col-xs-6
    span GRAY
