

main#breadcrumbs-container.content-layout
  h3 Breadcrumbs
  br

  .panel(ng-controller="CollapseDemoController")
    .panel-heading
      .panel-title
        h5 Breadcrumb Types
      .panel-widgets
        a(ng-click="isCollapsed = !isCollapsed")
          i.fa.fa-chevron-down

    .panel-collapse.in(collapse="isCollapsed")
      .panel-body
        ol.breadcrumb.breadcrumb-pure
          li
            a(href='#')
              i.fa.fa-folder
              | Breadcrumb
          li
            a(href='#') Appearance
          li
            a(href='#') Plugins
          li.active Widgets

        ol.breadcrumb.breadcrumb-border
          li
            a(href='#')
              i.fa.fa-folder
              | Breadcrumb
          li
            a(href='#') Appearance
          li
            a(href='#') Plugins
          li.active Widgets

        ol.breadcrumb
          li
            a(href='#')
              i.fa.fa-folder
              | Breadcrumb
          li
            a(href='#') Appearance
          li
            a(href='#') Plugins
          li.active Widgets