
section#carousel-container.content-layout
  //- div(ng-controller='CarouselDemoCtrl')
  //-   carousel(interval='myInterval')
  //-     slide(ng-repeat='slide in slides', active='slide.active')
  //-       img(ng-src='{{slide.image}}', style='margin:auto;')
  //-       //- .carousel-caption
  //-       //-   h4 Slide {{$index}}
  //-       //-   p {{slide.text}}
