

.iscroll(ng-class="{ 'open': showRails }")
  .scroll-rails(ng-show="isVertical", ng-class="{ 'scroll-left': isFixedLeft }")
    .scroll-slider(iscroll-slider, vertical)

  .scroll-rails.scroll-horizontal(ng-show="isHorizontal", ng-class="{ 'scroll-bottom': isFixedTop }")
    .scroll-slider(iscroll-slider, horizontal)

  .scroll-inner(iscroll-wrapper, ng-transclude)