

#delivery-page,
#delivery-page .container-layout,
#delivery-page .container-layout .main-layout { height: 100%; }

#delivery-container {
	margin-top: -75px;
	padding-top: 75px !important;
	border-top: 1px solid #eee;
	overflow: hidden;
	height: 100%;
}

#delivery-container ul.nav-bar {
	.clearfix();
	
	margin-bottom: 0;
	padding-left: 0;
	height: 50px;
	position: relative;
	z-index: 1;
	list-style-type: none;

	& > li {
		float: left;
		width: percentage(1/3);
		height: 100%;
		display: inline-block;
	}

	& > li > a {
		.transition(border-bottom-color .15s, color .15s);

		width: 100%;
		height: 50px;
		background-color: #fff;
		border-bottom: 4px solid transparent;
		display: inline-block;
		cursor: pointer;
		line-height: 50px;
		text-align: center;
		font-weight: bolder;
	}

	& > li.active a,
	& > li > a:hover { color: @flat-green; }
}

#delivery-container ul.nav-bar .slider {
	height: 4px;
	width: percentage(1/3);
	background-color: @flat-green;
	display: block;
	position: absolute;
	bottom: 0;
}

#delivery-container ul.nav-bar .slider.move { .transition(left .25s); }

#delivery-container .wrapper {
	margin-top: -50px;
	padding-top: 50px;
	width: 300%;
	height: 100%;
	position: relative;
	left: 0;
}

#delivery-container .wrapper.move { .transition(left .25s); }

#delivery-container .package-module {
	width: percentage(1/3);
	height: 100%;
	min-height: 1px;
	position: relative;
	float: left;
}

#delivery-container .package-module .list {
	height: 100%;
	overflow-y: auto;
}

#delivery-container .package.notice-bar {
	.user-select(none);
	.transition(background-color .35s);

	height: 60px;
	background-color: #fdfdfd;
	position: relative;
	overflow: hidden;
	cursor: default;
	
	&:hover { background-color: #fff; }
}

#delivery-container .package.notice-bar > .number {
	margin-right: 10px;
	width: 60px;
	height: 60px;
	border-top: 1px solid #eee;
	border-right: 1px solid #eee;
	display: inline-block;
	position: relative;
	float: left;
	text-align: center;
	line-height: 60px;
	font-size: 24px;
	font-weight: bold;
}

#delivery-container .package.notice-bar > .package-inner {
	padding: 10px 15px;
	height: 59px;
	border-top: 1px solid #eee;

	.time { color: #999; }
}

#delivery-container .order.notice-bar {
	height: auto;
	min-height: 60px;
}

#delivery-container .order.notice-bar > .package {
	margin-right: 10px;
	width: 60px;
	height: 60px;
	border-top: 1px solid #eee;
	border-right: 1px solid #eee;
	display: inline-block;
	position: relative;
	float: left;
	text-align: center;
	line-height: 60px;
	font-size: 24px;
	font-weight: bold;

	i.fa {
		.opacity(.4);
		.transform(rotate(-90deg));

		margin: 0 auto;
		width: 16px;
		height: 16px;
		display: none;
		position: absolute;
		left: 0;
		right: 0;
		bottom: -8px;
		z-index: 9;
		font-size: 16px;
	}
}

#delivery-container .order.notice-bar > .order-inner {
	padding: 10px 15px;
	height: 60px;
	border-top: 1px solid #eee;

	.address { .text-overflow(); }
	.detail .price:before { content: "￥"; font-family: @price-font-family; font-size: 12px; }
}

#delivery-container .product-bar.notice-bar > .product-tag {
	margin-right: 10px;
	width: 60px;
	height: 60px;
	border-top: 1px solid #eee;
	border-right: 1px solid #eee;
	display: inline-block;
	float: left;
	text-align: center;
	line-height: 60px;
	font-size: 24px;
	font-weight: bold;
}

#delivery-container .product-bar.notice-bar > .product-inner {
	padding: 10px 15px;
	height: 60px;
	border-top: 1px solid #eee;

	p { margin-bottom: 0; }
	.detail .price:before { content: "￥"; font-family: @price-font-family; font-size: 12px; }
	.number { font-size: 14px; font-weight: bold; }
	.number:before { content: '×'; }
}

#delivery-container .product-wrapper { overflow: hidden; }
#delivery-container .order.notice-bar {
	border-top: 1px solid #eee;
}

#delivery-container .order.notice-bar.open > .package > i.fa { display: block; }

#delivery-container .no-data {
	padding-top: 100px;
	height: 100%;
	text-align: center;
	font-size: 24px;
	font-family: @caption-font-family;

	span { font-family: @font-family-sans-serif; }
}
