

@media (max-width: @screen-xs-max) {
	#delivery-page .container-layout .main-layout {
		margin-top: -50px;
		padding-top: 50px;
	}

	#delivery-container {
		margin-top: -50px;
		padding-top: 50px !important;
	}
}